<%+header%>

<%
	local uci = require "luci.model.uci".cursor()
	local disp = require "luci.dispatcher"
	local current_user = disp.context.authuser
	local MAX_FXSO_PROFILE = tonumber(uci:get("profile_param","global","max_fxso_profile") or "4")

	local edit_permission = uci:get("user",current_user.."_web","trunk_fxo")

	local fxo_slic_tb = {}
	local fxso_profile = uci:get_all("endpoint_fxso") or {}
	local fxo_slic_tb_value = {"600 Ohm","900 Ohm","270 Ohm + (750 Ohm || 150 nF) and 275 Ohm + (780 Ohm || 150 nF)",
								"220 Ohm + (820 Ohm || 120 nF) and 220 Ohm + (820 Ohm || 115 nF)",
								"370 Ohm + (620 Ohm || 310 nF)","320 Ohm + (1050 Ohm || 230 nF)",
								"370 Ohm + (820 Ohm || 110 nF)","275 Ohm + (780 Ohm || 115 nF)",
								"120 Ohm + (820 Ohm || 110 nF)","350 Ohm + (1000 Ohm || 210 nF)",
								"200 Ohm + (680 Ohm || 100 nF)","600 Ohm + 2.16 uF",
								"900 Ohm + 1 uF","900 Ohm + 2.16 uF","600 Ohm + 1 uF",
								"Global impedance"
								}
	if not cur_fxo_slic then
		for i=1,MAX_FXSO_PROFILE do
			for k,v in pairs(fxso_profile) do
				if "fxo" == v['.type'] and v.index and tonumber(v.index) == i then

					local tmp = {}
					tmp.slot_type = "FXO-"..(tonumber(v.index)-1).."-0"
					tmp.viewname = translatef("Port %d",((tonumber(v.index)-1)*2))
					tmp.slic = fxo_slic_tb_value[tonumber(v.slic_1 or "0")+1]
					table.insert(fxo_slic_tb,tmp)

					tmp = {}
					tmp.slot_type = "FXO-"..(tonumber(v.index)-1).."-1"
					tmp.viewname = translatef("Port %d",((tonumber(v.index)-1)*2+1))
					tmp.slic = fxo_slic_tb_value[tonumber(v.slic_2 or "0")+1]
					table.insert(fxo_slic_tb,tmp)

					break
				end
			end
		end
	end
%>

<style type="text/css">
table td{
    text-align:left;
}
</style>
<script language="JavaScript" type="text/javascript" src="<%=resource_cbi_js%>"></script>
<script type="text/javascript" src="<%=resource%>/jquery-1.9.1.min.js"></script>
<script language="JavaScript" type="text/JavaScript">
var timesout = 60
var cur_times = 0

window.onload = function()
{
	curr_selected_port_change('fxo_endpoint')
}
window.onbeforeunload = function() {

}
function poll_fxo_detection_status(fxo)
{
	XHR.poll(5,'<%=luci.dispatcher.build_url("admin","trunk","fxo","slic")%>',{status:"2",fxo:fxo},
	function(x,info)
	{
		if (cur_times > timesout)
		{
			XHR.halt()
			return
		}
		cur_times = cur_times + 1
		if (info)
		{
			if (info['status'] == "Detecting")
			{
				$("#diag-rc-legend").text("<%:Impedance matching...%>")
				$("#transcoding_pro_bar").attr("class","progress progress-striped active")
				$("#transcoding_pro_bar div").attr("style","width:"+info['percent'])
				$("#transcoding_pro_bar div").text(info['percent'])
			}
			else if(info['status'] == "Complete")
			{
				$("#diag-rc-legend").text("<%:Impedance matching success%>")
				$("#transcoding_pro_bar").attr("class","progress progress-success")
				$("#transcoding_pro_bar div").attr("style","width:100%")
				$("#transcoding_pro_bar div").text("100%")	

				document.getElementById('detection_slic').value=info['slic_show']
				document.getElementById('detection_slic_h').value=info['slic']
				document.getElementById('cbi.save').disabled = ""
				document.getElementById('bt_detection').disabled = ""

				XHR.halt()
				return
			}
			else
			{
				$("#diag-rc-legend").text("<%:Impedance matching fail%>")
				document.getElementById('bt_detection').disabled = ""
				$("#transcoding_pro_bar").attr("class","progress progress-fail")
				XHR.halt()
				return
			}
		}
	})
}

function fxo_slic_detection()
{
	<%if luci.version.license and luci.version.license.fxo > 1 then %>
	var fxo = document.getElementById('fxo_endpoint').value;
	<% else %>
	var fxo = "FXO-0-1"
	<% end %>
	var dtmf_obj = document.getElementById('dtmf_str');
	if(!dtmf_check(dtmf_obj))
	{
		alert("<%:DTMF value is invalid, cannot start detect !%>")
		return
	}

	document.getElementById('bt_detection').disabled = "disabled"
		
	XHR.get('<%=luci.dispatcher.build_url("admin","trunk","fxo","slic")%>',{status:"1",fxo:fxo,dtmf:dtmf_obj.value},
	function(x)
	{
		if (x.responseText.indexOf("Success") >= 0)
		{	
			document.getElementById('detection_status').style.display=""
			document.getElementById('cbi.save').disabled = "disabled"
			$("a").attr("style","pointer-events: none;cursor: default")
			document.getElementById("detection-fail-msg").style.display="none"
			cur_times = 0
			poll_fxo_detection_status(fxo)
		}
		else
		{
			document.getElementById('detection_status').style.display="none"
			document.getElementById('bt_detection').disabled = ""
			$("div#detection-fail-msg").text(x.responseText)
			document.getElementById("detection-fail-msg").style.display=""
		}
	})
}
function dtmf_check(obj)
{
	if(obj.value.match(/^\d+$/))
	{
		obj.className = obj.className.replace(/ cbi-input-invalid/g, '')
		return true
	}
	else
	{
		obj.className += ' cbi-input-invalid'
		return false
	}
}
function curr_selected_port_change(id)
{
	<%if luci.version.license and luci.version.license.fxo > 1 then %>
	var tmp = document.getElementById(id).value
	<% else %>
	var tmp = "FXO-0-1"
	<% end %>
	document.getElementById("detection-fail-msg").style.display="none"
	
	for (var i=0;i <= 11;i++)
	{
		if (document.getElementById("FXO-"+i+"-0"))
		{
			document.getElementById("FXO-"+i+"-0").style.display = "none"
		}
		if (document.getElementById("FXO-"+i+"-1"))
		{
			document.getElementById("FXO-"+i+"-1").style.display = "none"
		}
	}
	if (document.getElementById(tmp))
		document.getElementById(tmp).style.display = ""
}
function set_form_state_disabled()
{
	$("a").attr("style","pointer-events: none;cursor: default")
}
function set_form_state(id)
{
	$("a").removeattr("style")
	return true
}
</script>

<% if result then %>
	<div class='container container-msg' id='alert-msgbox'>
	<% if string.find(result,"Success") then %> 
		<div class='alert-message success'>
		<h4><%= translate(result) %></h4>
	<% elseif string.find(string.lower(result),"fail") then%>
		<div class='alert-message error'>
		<h4><%= translate(result) %></h4>
	<% end %>
	</div>
<% end %>

<div class='alert-message error' id="detection-fail-msg" style="display:none" >
	<h4><h4>
</div>

<form name="form1" method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data" >
	<div class="cbi-map">
		<fieldset class="cbi-section">
			<%if luci.version.license and luci.version.license.fxo > 1 then %>
			<div class="cbi-value">
				<div class="cbi-value-title"><label><%:FXO%></label></div>
				<div class="cbi-value-field">
				<select class="cbi-input-select" onchange="curr_selected_port_change(this.id)" id="fxo_endpoint" name="fxo_endpoint" size="1" _value="1">
					<%
						local str = ""
						
						if cur_fxo_endpoint then
							local tmp_slot,tmp_port = cur_fxo_endpoint:match("([0-9]+)%-([0-9]+)")
							local viewname = translatef("Port %d",(tonumber(tmp_slot)*2+tonumber(tmp_port)))
							str = "<option value='"..cur_fxo_endpoint.."'>"..viewname.."</option>"
						else
							for k,v in ipairs(fxo_slic_tb) do
								if v.slot_type then
									str = str.."<option value='"..v.slot_type.."'>"..v.viewname.."</option>"
								end
							end
						end
						write(str)
					%>
				</select>
				</div>
			</div>
			<% end %>
			<% if cur_fxo_slic then %>
				<script type="text/javascript">set_form_state_disabled();</script>
				<div class="cbi-value" id="<%=cur_fxo_slic_id%>" >
					<div class="cbi-value-title"><label><%:Current Impedance%></label></div>
					<div class="cbi-value-field" >
						<input type="text" value="<%=fxo_slic_tb_value[tonumber(cur_fxo_slic)+1]%>" name="current_slic" id="current_slic" readonly="readonly"/>
						<input type="hidden" value="<%=cur_fxo_slic%>" name="current_slic_h" id="current_slic_h" />
					</div>
				</div>	
			<% else %>
				<% for k,v in pairs(fxo_slic_tb) do %>
					<div class="cbi-value" style="display:none" id="<%=v['slot_type']%>" >
						<div class="cbi-value-title"><label><%:Current Impedance%></label></div>
						<div class="cbi-value-field" >
							<input type="text" value="<%=v['slic']%>" name="current_slic" id="current_slic" readonly="readonly"/>
						</div>
					</div>
				<% end %>
			<% end %>
			<div class="cbi-value">
				<div class="cbi-value-title"><label><%:DTMF%></label></div>
				<div class="cbi-value-field" >
					<input type="text" value="1234567890123456789" name="dtmf_str" id="dtmf_str" onkeyup="dtmf_check(this)" />
					<input class="cbi-button" style="font-size:13px;margin-left:2px;" type="button" onclick="fxo_slic_detection()" value="<%:Detect%>" name="bt_detection" id="bt_detection"/>
				</div>
			</div>
		</fieldset>

		<!--Detection status-->
		<fieldset >
			<div class="cbi-section" style="display:none" id="detection_status" >
				<h4 id="diag-rc-legend"><%:Impedance matching...%></h4>
				<div class='progress' id='transcoding_pro_bar' style="width:60%" >
					<div class='progress-bar' style='width:0%;'>
						
					</div>
					<br/>
				</div>
			</div>
			<div class="cbi-value">
				<div class="cbi-value-title"><label><%:Automatch Optimum Impedance%></label></div>
				<div class="cbi-value-field" >
					<input type="text" value="" name="detection_slic" id="detection_slic" readonly="readonly"/>
					<input type="hidden" value="" name="detection_slic_h" id="detection_slic_h" />
				</div>
			</div>
		</fieldset>	
	<% if "admin" == current_user or (edit_permission and edit_permission:match("edit")) then %>
		<% if cur_continue_param then %>
			<div class="cbi-page-actions">
				<input type="hidden" id="continue_param" name="continue_param" value="<%=cur_continue_param%>" />
				<input class="cbi-button" type="submit"  onclick="set_form_state(this.id)" value="<%:Cancel & Back%>" id="cbi.cancel" name="cbi.cancel" />
				<input class="cbi-button cbi-button-save" onclick="set_form_state(this.id)" type="submit" disabled="disabled" value="<%:Save & Continue%>" id="cbi.save" name="cbi.save"  />
			</div>	
		<% else %>
			<div class="cbi-page-actions">
				<input class="cbi-button" type="submit"  onclick="set_form_state(this.id)" value="<%:Cancel%>" id="cbi.cancel" name="cbi.cancel" />
				<input class="cbi-button cbi-button-save" onclick="set_form_state(this.id)" type="submit" disabled="disabled" value="<%:Save%>" id="cbi.save" name="cbi.save" />
			</div>
		<% end %>
	<% end %>
	</div>
</form>
<%+footer%>
