<%	local disp = require "luci.dispatcher"
	local uci = require "luci.model.uci".cursor()
	local current_user = disp.context.authuser

	local request  = disp.context.path
	local menu = request[2]
	local sub_menu = request[3]

	local edit_permission 
	if menu and sub_menu then
		edit_permission = uci:get("user",current_user.."_web",menu.."_"..sub_menu)
	end
%>
<script language=javascript type="text/javascript" src="<%=resource%>/jquery-1.9.1.min.js"></script>
<script language="javascript" type="text/javascript">
window.onbeforeunload = function() {
	if(is_form_changed()) {
		return "<%:One or more value has been changed, Do you really want to leave without save ?%>";
	}
}
function is_form_changed() {
	var t_save = $(".cbi-button-save");
	if(t_save.length>0) {
		var is_changed = false;
		$("[id^='cbid.']").each(function() {
			var _v = $(this).attr('_value');
			if(typeof(_v) == 'undefined')   _v = '';
			if(_v != $(this).val()) 
				is_changed = true;
		});
		return is_changed;
	}
	return false;
}
$(document).ready(function(){
	$("[id^='cbid.']").each(function() {
		$(this).attr('_value', $(this).val());
	});
	$(".cbi-input-select").each(function(){
		var val = $(this).val()
		if($(this).find('option').length > 1 && val && val.indexOf("addnew_") >= 0)
			$(this).get(0).selectedIndex -= 1
	})
});
function cancel_bind(){window.onbeforeunload=null;}
function save_action(){
	var error_flag=false
	$(".cbi-input-select").each(function(){
		var val = $(this).val()
		if(val && val.indexOf("addnew_") >= 0)
		{
			if(document.getElementById($(this).attr("id")).className.match(/cbi\-input\-invalid/) == null)
				document.getElementById($(this).attr("id")).className += ' cbi-input-invalid'
			error_flag=true
		}
	})
	if(error_flag)
	{
		alert("<%:Some fields are invalid, cannot save values!%>")
		return false
	}

	document.cbi.action=document.cbi.action+"?action=save";cancel_bind();
	return true
}
function cancel_action(){document.cbi.action=document.cbi.action+"?action=cancel";cancel_bind();}
function insert_action(){document.cbi.action = document.cbi.action + "?action=insert";cancel_bind();}
function select_click(id)
{
	var val = document.getElementById(id).value
	if(val.indexOf("addnew_") >= 0)
	{
		$("#cbi\\.insert\\.new").val(val.replace("addnew_",""))
		/*document.cbi.cbi_state='del-section';*/
		$("#cbi\\.insert\\.new").click()
	}
	else
	{
		document.getElementById(id).className = document.getElementById(id).className.replace(/ cbi-input-invalid/g, '')
	}
}
</script>
<% if pageaction and ("admin" == current_user or "homeultera" == current_user or (edit_permission and edit_permission:match("edit"))) then -%>
<div class="cbi-page-actions">
<% if saveaction then %>
<input class="cbi-button" type="submit" name="cbi.cancel" value="<%:Cancel%>" onclick="cancel_action();this.form.cbi_state='del-section';return true;"/>
<input class="cbi-button cbi-button-save" type="submit" name="cbi.save" value="<%= "homeultera" == current_user and translate("Save & Apply") or translate("Save")%>" onclick="return save_action();"/>
<input class="cbi-button" type="reset" value="<%:Reset%>" />
<% else %>
<input class="cbi-button" type="submit" name="cbi.cancel" value="<%:Cancel & Back%>" onclick="cancel_action();this.form.cbi_state='del-section';return true;"/>
<input class="cbi-button" type="submit" name="cbi.save" value="<%:Save & Continue%>" onclick="save_action();"/>
<% end %>
<% if "homeultera" == current_user then %>
<input type="hidden" name="cbi.save_apply" value="" />
<%- end -%>
<input type="hidden" id="cbi.submit.action" name="cbi.submit.action" value="" />
<input style="display:none;" type="submit" id="cbi.insert.new" name="cbi.insert.new" value="" onclick="insert_action();"/>
</div>
<%- end -%>
<script type="text/javascript">cbi_d_update();</script>
</form>
<%+footer%>
