<style type="text/css">
.description {
	border: 1px solid;
	padding: 15px 30px;
}
.line {
	white-space: normal;
	text-align: left;
	text-indent: 2em;
	margin-bottom: 0;
	margin-left: 0;
	line-height: 16px;
	font-size: 14px;
}
</style>

<div class="description">
	<p class="line" ><%:There are five ways to access the Internet. There are three wired methods: Dynamic IP, Static IP and PPPOE. There are two wire methods: "Dynamic IP" and "Static IP".%></p>
	</br>
	<p class="line" ><%:There are five ways to access the Internet. There are three wired methods: Dynamic IP, Static IP and PPPOE. There are two wire methods: "Dynamic IP" and "Static IP".%></p>
</div>

