<%
	local dsp = require "luci.dispatcher"
	local uci = require "luci.model.uci".cursor()
	local exe = require "os".execute

	if luci.http.formvalue("save") then
		luci.http.redirect(dsp.build_url("admin","status","overview"))
		return
	elseif luci.http.formvalue("cancel") then
		luci.http.redirect(dsp.build_url("admin","status","overview"))
		return
	end

	local status_tb = {}
	local tmp_tb = {}

	exe("rm /tmp/detect_status2")

	tmp_tb = uci:get_all("endpoint_siptrunk") or {}
	if tmp_tb and next(tmp_tb) then
		for k,v in pairs(tmp_tb) do
			if v.index and v.index == "1" then
				status_tb.siptrunk = v.status == "Enabled" and "1" or "0"
				break
			end
		end
	end
	status_tb.ddns = uci:get("ddns","myddns_ipv4","enabled") == "1" and "1" or "0"
	status_tb.l2tp = uci:get("xl2tpd","main","enabled") == "1" and "1" or "0"
	status_tb.pptp = uci:get("pptpc","main","enabled") == "1" and "1" or "0"
	status_tb.openvpn = uci:get("openvpn","custom_config","enabled") == "1" and "1" or "0"
	tmp_tb = uci:get_all("endpoint_mobile") or {}
	if tmp_tb and next(tmp_tb) then
		for k,v in pairs(tmp_tb) do
			if v.index then
				status_tb.sim = v.status == "Enabled" and "1" or "0"
			end
		end
	end

	--[[
	status_tb.siptrunk = "1"
	status_tb.ddns = "1"
	status_tb.l2tp = "1"
	status_tb.pptp = "1"
	status_tb.openvpn = "1"
	status_tb.sim = "1"
	]]--
%>

<%+header%>
<style type="text/css">
.description {
	border: 1px solid;
	padding: 15px 30px;
}
.line {
	white-space: normal;
	text-align: left;
	text-indent: 2em;
	margin-bottom: 0;
	margin-left: 0;
	line-height: 16px;
	font-size: 14px;
}
.detect-value {
	padding-top: 18px;
	padding-left: 10px;
	margin-bottom: 18px;
	zoom: 1;
	clear: both;
}
.detect-title {
	width: 40%;
	float: left;
	line-height: 24px;
}
.detect-field {
	width: 20%;
	float: left;
	text-align: right;
}
.detect-tip {
	width: 37%;
	float: left;
	color: #b94a48;
	text-align: left;
	word-break: break-all;
	line-height: 1;
	padding-left: 10px;
	padding-top: 5px;
}
.action {
	margin-bottom: 18px;
	padding-top: 15px;
	text-align: center;
	clear: both;
}
</style>
<script language=javascript type="text/javascript" src="/luci-static/resources/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="<%=resource_cbi_js%>"></script>
<script>
var num = 0
var array = new Array();
<%- if status_tb.siptrunk and status_tb.siptrunk == "1" then -%>
	array.push("siptrunk-connect");array.push("siptrunk-register");
<%- end -%>
<%- if status_tb.ddns and status_tb.ddns == "1" then -%>
	array.push("ddns");
<%- end -%>
<%- if status_tb.l2tp and status_tb.l2tp == "1" then -%>
	array.push("l2tp");
<%- end -%>
<%- if status_tb.pptp and status_tb.pptp == "1" then -%>
	array.push("pptp");
<%- end -%>
<%- if status_tb.openvpn and status_tb.openvpn == "1" then -%>
	array.push("openvpn");
<%- end -%>
<%- if status_tb.sim and status_tb.sim == "1" then -%>
	array.push("sim");
<%- end %>

function translate_cause(str)
{
	var ret = ""
	if (str.indexOf('siptrunk-connect') >= 0) {
		ret += '通讯调度平台地址填写或通讯调度平台错误'
	} else if (str.indexOf('siptrunk-register') >= 0) {
		ret += '通讯调度平台地址填写或通讯调度平台错误'
	} else if (str.indexOf('ddns') >= 0) {
		ret += 'DDNS信息填写有误'
	} else if (str.indexOf('l2tp') >= 0) {
		ret += 'L2TP信息填写有误或L2TP服务器错误'
	} else if (str.indexOf('pptp') >= 0) {
		ret += 'PPTP信息填写有误或PPTP服务器错误'
	} else if (str.indexOf('openvpn') >= 0) {
		ret += 'OpenVPN信息填写有误或OpenVPN服务器错误'
	} else if (str.indexOf('sim') >= 0) {
		ret += 'SIM卡未插入、未插好或已损坏'
	}
	return ret
}
function get_status()
{
	var apply_xhr = new XHR();

	/* first detect trigger */
	apply_xhr.get('<%=luci.dispatcher.build_url("admin","wizard","detect2")%>',{action:"start"},function(x) {
	});

	checkfinish = function() {
		apply_xhr.get('<%=luci.dispatcher.build_url("admin","wizard","status2")%>',{action:"1"},function(x) {
			var element = array[num]
			var regex = new RegExp(element + ':([^;]*);')

			if (x.responseText.match(regex)) {
				var result = RegExp.$1
				var field_id = document.getElementById('field-' + element)
				var tip_id = document.getElementById('tip-' + element)

				if (result == "success") {
					field_id.innerHTML = '<img style="width:11%;" src="/luci-static/resources/icons/correct.png"/>'
				} else {
					field_id.innerHTML = '<img style="width:11%;" src="/luci-static/resources/icons/error.png"/>'
					tip_id.innerHTML = translate_cause(element)
				}
				num += 1
			}

			if (num == array.length) {
				var p = document.getElementById("prev")
				var n = document.getElementById("next")

				p.disabled = ''
				n.disabled = ''
			} else {
				element = array[num]
				field_id = document.getElementById('field-' + element)
				field_id.innerHTML = '<img style="width:11%;" src="/luci-static/resources/icons/loading.gif"/>'
				window.setTimeout(checkfinish, 1000);
			}
		})
	}
	window.setTimeout(checkfinish, 1000);
}
window.onbeforeunload = function () {
	 return true
}
$(document).ready(function() {
	get_status()
})
</script>

<h2><a id="detect" name="detect">第二阶段：检测功能</a></h2>
<fieldset>
	<div class="description">
		<p class="line">正在检测各项功能，请稍等...</p>
		<br/>
		<p class="line" style="color:#b94a48;">检测期间，请勿进行其它操作！</p>
	</div>
	<br/>
	<div class="detect-node">
		<%  if status_tb.siptrunk and status_tb.siptrunk == "1" then %>
		<div class="detect-value">
			<div class="detect-title">连接通讯调度平台</div>
			<div class="detect-field" id="field-siptrunk-connect"><img style="width:11%;" src="/luci-static/resources/icons/loading.gif"/></div>
			<div class="detect-tip" id="tip-siptrunk-connect"></div>
		</div>
		<div class="detect-value">
			<div class="detect-title">本地号码注册通讯调度平台</div>
			<div class="detect-field" id="field-siptrunk-register"></div>
			<div class="detect-tip" id="tip-siptrunk-register"></div>
		</div>
		<%	end
			if status_tb.ddns and status_tb.ddns == "1" then %>
		<div class="detect-value">
			<div class="detect-title">连接DDNS服务商</div>
			<div class="detect-field" id="field-ddns"></div>
			<div class="detect-tip" id="tip-ddns"></div>
		</div>
		<%  end
			if status_tb.l2tp and status_tb.l2tp == "1" then %>
		<div class="detect-value">
			<div class="detect-title">建立L2TP连接</div>
			<div class="detect-field" id="field-l2tp"></div>
			<div class="detect-tip" id="tip-l2tp"></div>
		</div>
		<%  end
			if status_tb.pptp and status_tb.pptp == "1" then %>
		<div class="detect-value">
			<div class="detect-title">建立PPTP连接</div>
			<div class="detect-field" id="field-pptp"></div>
			<div class="detect-tip" id="tip-pptp"></div>
		</div>
		<%  end
			if status_tb.openvpn and status_tb.openvpn == "1" then %>
		<div class="detect-value">
			<div class="detect-title">建立OpenVPN连接</div>
			<div class="detect-field" id="field-openvpn"></div>
			<div class="detect-tip" id="tip-openvpn"></div>
		</div>
		<%  end
			if status_tb.sim and status_tb.sim == "1" then %>
		<div class="detect-value">
			<div class="detect-title">获取SIM卡信息</div>
			<div class="detect-field" id="field-sim"></div>
			<div class="detect-tip" id="tip-sim"></div>
		</div>
		<%	end %>
	</div>
</fieldset>
<div class="action">
	<form name="form" method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
			<input class="cbi-button" id="prev" type="submit" name="cancel" value="后退" disabled="disabled" onclick="window.onbeforeunload=null;return true;"/>
			<input class="cbi-button cbi-button-save" id="next" type="submit" name="save" value="继续" disabled="disabled" onclick="window.onbeforeunload=null;return true;"/>
	</form>
</div>
<%+footer%>
