<%
	local hour, min, sec = self:cfgvalue(section)
%>
<%+cbi/valueheader%>
<select class="cbi-input-select" style="width:21%;" size="1" id="leasetime_H" name="cbid.dhcp.lan.leasetime_h">
</select>
<select class="cbi-input-select" style="width:21%;" size="1" id="leasetime_M" name="cbid.dhcp.lan.leasetime_m">
</select>
<select class="cbi-input-select" style="width:21%;" size="1" id="leasetime_S" name="cbid.dhcp.lan.leasetime_s">
</select>
<%+cbi/valuefooter%>
<script type="text/javascript" id="cbip-dhcp-lan-leasetime">
function add_option(obj, start, end, def)
{
	if (!obj)
		return;
	start = start || 0;
	end = end || 0;
	def = def || 0;
	for (var i=0,j=start; j <= end; i++,j++) {
		obj.options[i] = new Option(j, j);
		if (j == def) {
			obj.options[i].selected = true;
			obj.options[i].defaultSelected = true;
		}
	}
}

function leasetime_init(h_id, h_start, h_end, h_def,
						m_id, m_start, m_end, m_def,
						s_id, s_start, s_end, s_def)
{
	var hobj = document.getElementById(h_id);
	var mobj = document.getElementById(m_id);
	var sobj = document.getElementById(s_id);
	add_option(hobj, h_start, h_end, h_def);
	add_option(mobj, m_start, m_end, m_def);
	add_option(sobj, s_start, s_end, s_def);
}
leasetime_init("leasetime_H",0,72,<%=hour%>, "leasetime_M",0,59,<%=min%>, "leasetime_S",0,59,<%=sec%>);

cbi_d_add("cbi-dhcp-lan-leasetime", {"cbid.dhcp.lan.ignore":"0"}, "cbip-dhcp-lan-leasetime");
</script>
