<%+header%>
<script type="text/javascript" src="<%=resource_cbi_js%>"></script>
<script language="JavaScript" type="text/JavaScript">
function changeFrameWidthHeight(){
	var ifm= document.getElementById("pbxiframe"); 
	ifm.height=document.documentElement.clientHeight;
	ifm.width=document.documentElement.clientWidth;
	ifm.style.position="absolute"
	ifm.style.left=0
}
window.onresize=function(){
	changeFrameWidthHeight();
}
function open_new_window(flag){
	var val = document.getElementById("outdoor_url").value
	if(val.match(/^https/))
	{
		window.open(val,"_blank");
		document.getElementById("pbxiframe").innerHtml=val+" is a https address, will open in new window !"
	}
	else if(val.match(/^http:/))
	{
		if(flag)
			window.open(val,"_blank");
		else
		{
			document.getElementById("pbxiframe").src=val
		}
	}
	else
	{
		if(flag)
			window.open(val,"_blank");
		else
		{
			document.getElementById("pbxiframe").src="http://"+val
		}
	}
}
</script>
<% if https then %>
<div class='container container-msg'>
	<div class="alert-message info">"<%=url%>" is a https address, please click "Open" button to open in a new window manually, auto open will be blocked by brower !</div>
</div>
<% end %>
<form name="form" method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data" style="margin-bottom:5px;">
<div style="padding-top:5px;padding-left:10px;">
	Outdoor URL
	<input type="text" name="outdoor_url" id="outdoor_url" size="400" width="400px" value="<%=url%>" class="url-input">
	<input class="cbi-button cbi-button-save" type="submit" style="width:110px;" name="save" id="save" value="<%:Save & Apply%>" />
	<input class="cbi-button cbi-button-save" type="button" style="width:100px;" name="go" id="go" onclick="open_new_window()" value="<%:Open%>" />
	<input class="cbi-button cbi-button-save" type="button" style="width:160px;" name="go" id="go" onclick="open_new_window(true)" value="<%:Open in New Window%>" />
</div>
<div style="padding-top:5px;"><p><font color="red">*If target page can not load in current page, please try to open in new window ! May be it's X-Frame-Options had been set to DENY.</font></p></div>
</form>
<iframe src="<%=url%>" id="pbxiframe" scrolling="yes" onload="changeFrameWidthHeight()" frameborder="0" width="100%"></iframe>
<%+footer%>
