<%+header%>

<form name="form" method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
	<br/><br/><br/>
	<div style="padding-left:40px;"><input onclick="return confirm('Please confirm whether to reboot')" class="cbi-button" type="submit" name="reboot" style="width:120px;" value="Reboot" /></div>
	<br/><br/>
	<div style="padding-left:40px;"><input onclick="return confirm('Please confirm whether to factory reset')" class="cbi-button" type="submit" name="factory_reset" style="width:120px;" value="Factory Reset" /></div>
	<br/><br/>
</form>

<%+footer%>
