<%
	require "ESL"
	local con = ESL.ESLconnection("127.0.0.1","8021","ClueCon")
	local imei=""
	local gsm_ver=""
	if 1 == con:connected() then
		local s = con:api("gsm dump 1"):getBody()
		imei=s and s:match("imei%s*=%s*(%d+)") or luci.i18n.translate("Unknown")
		gsm_ver = s and s:match("\nversion%s*=%s*([0-9A-Z]+)") or luci.i18n.translate("Unknown")
		con:disconnect()
	else
		imei=luci.i18n.translate("Query Fail")
		gsm_ver=luci.i18n.translate("Query Fail")
	end
-%>

<%+header%>
<h2><a><%:Status / About%></a></h2>
<% if luci.version.oem and luci.version.oem.display_on_about_page then%>
<%if "en" == luci.i18n.context.lang and luci.version.oem.facebook then%>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%end%>
<fieldset>
	<legend><%:Copyright%></legend>
	<table width="100%" cellspacing="10" class="info">
		<tr>
		<% if luci.version.oem.logo then%>
			<td width="33%"><img style="margin-left:50px;"src="/luci-static/resources/<%=luci.version.oem.logo%>"></td>
		<% end %>
		<td>
			<table>
			<%if "zh-cn" == luci.i18n.context.lang and luci.version.oem.company_url_cn then%>
				<tr><td><a href="http://<%=luci.version.oem.company_url_cn%>" target="_blank"><%=luci.version.oem.company_url_cn%></a></td></tr>
			<%elseif luci.version.oem.company_url_en then%>
				<tr><td><a href="http://<%=luci.version.oem.company_url_en%>" target="_blank"><%=luci.version.oem.company_url_en%></a></td></tr>
			<%end%>
			<%if luci.version.oem.phonenumber then%>
				<tr><td><%:Tel%>: <%=luci.version.oem.phonenumber%></td></tr>
			<%end%>
			<%if luci.version.oem.copyright then%>
				<tr><td><%=luci.i18n.translate(luci.version.oem.copyright)%></td></tr>
			<%end%>
			<%if "en" == luci.i18n.context.lang and luci.version.oem.facebook then%>
				<tr><td><div class="fb-like" data-href="<%=luci.version.oem.facebook%>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></td></tr>
			<%elseif luci.version.oem.wechat_name then%>
				<tr><td>欢迎关注我们的微信公众号:<%=luci.version.oem.wechat_name%></td></tr>
			<%end%>
			</table>
		</td>
		<%if "zh-cn" == luci.i18n.context.lang and luci.version.oem.wechat_qrcode then%>
			<td width="33%"><img style="margin-left:50px;"src="/luci-static/resources/<%=luci.version.oem.wechat_qrcode%>"></td>
		<%end%>
		</tr>
	</table>
</fieldset>
<% end %>
<fieldset>
	<legend><%:System%></legend>
	<table width="100%" cellspacing="10" class="info">
		<tr><td width="33%"><%:Device Model%></td><td><%=pcdata(luci.version.model)%></td></tr>
		<tr><td><%:Device SN%></td><td><%=pcdata(luci.version.sn)%></td></tr>
		<tr><td><%:Hardware ID%></td><td><%=pcdata(luci.version.hard_id)%></td></tr>
		<tr><td><%:MAC Address%></td><td><%=pcdata(luci.version.mac)%></td></tr>
		<%if luci.version.license and luci.version.license.gsm then%>
			<tr><td><%:IMEI%></td><td><%=imei%></td></tr>
			<tr><td><%:GSM Module%></td><td><%=gsm_ver%></td></tr>
		<% elseif luci.version.license and luci.version.license.lte then%>
			<tr><td>IMEI</td><td><%=imei%></td></tr>
			<tr><td><%:LTE Module%></td><td><%=gsm_ver%></td></tr>
		<% elseif luci.version.license and luci.version.license.volte then%>
			<tr><td>IMEI</td><td><%=imei%></td></tr>
			<tr><td><%:VoLTE Module%></td><td><%=gsm_ver%></td></tr>
		<% end %>
		<tr><td><%:Boot Image%></td><td><%=pcdata(luci.version.bootver)%></td></tr>
		<tr><td><%:Root Image%></td><td><%=pcdata(luci.version.rootver)%></td></tr>
		<tr><td><%:WIFI Driver%></td><td><%=pcdata(luci.version.wifiver)%></td></tr>
		<tr><td><%:Firmware Version%></td><td><%=pcdata(luci.version.firmware_ver)%></td></tr>
	</table>
</fieldset>
<%+footer%>
