<%-
	local util = require "luci.util"
	local uci = require "luci.model.uci".cursor()
	local fs_server = require "luci.scripts.fs_server"
	local fs = require "luci.fs"
	local ds = require "luci.dispatcher"
	local sta = {}
	local wlan = {}
	local wlan_status
	local dev_name = ""

	if fs.access("/lib/modules/3.14.18/rt2860v2_ap.ko") then
		dev_name = "ra0"
	else
		dev_name = "radio0"
	end

	if luci.http.formvalue("save") then
		local sta_tb = luci.http.formvaluetable("sta")

		for k,v in pairs(sta_tb) do
			if k == "disabled" then
				uci:set("wireless",dev_name,"disabled",v)
			else
				uci:set("wireless","wifi0",k,v)
			end
		end
		uci:set("wireless","wifi0","disabled","0")
		uci:save("wireless")

		luci.http.redirect(REQUEST_URI)
	elseif luci.http.formvalue("cancel") then
		--luci.http.redirect(ds.build_url("admin","network","setting","wds_config"))
	elseif luci.http.formvalue("status") == "1" and luci.http.formvalue("action") then
		local action = luci.http.formvalue("action")
		local wifi_list = fs_server.get_wifi_list(action) or {}

		if wifi_list ~= {} then
			luci.http.prepare_content("application/json")
			luci.http.write_json(wifi_list)
		end

		return
	else
		local wireless_tb = uci:get_all("wireless")

		wlan = uci:get_all("network","wlan")
		wlan_status = util.exec("ifconfig | grep "..dev_name)
		sta.disabled = wireless_tb[dev_name]["disabled"] or "1"
		sta.ssid = wireless_tb.wifi0.ssid or ""
		sta.encryption = wireless_tb.wifi0.encryption or "psk2"
		sta.key = wireless_tb.wifi0.key or ""
	end
-%>
<%+header%>
<style type="text/css">
table td.nopadding{
	padding:0px 0px 0px 10px;
}
table td.paddingtight{
	padding:0px 0px 0px 0px;
}
table td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align:left;
}
table {
	table-layout:fixed;
}
</style>
<script type="text/javascript" src="<%=resource_cbi_js%>"></script>
<script type="text/javascript" src="<%=resource%>/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
<% if wlan_status and wlan_status ~= "" then
%>

var g_wifi_array
var g_ssid_list

function refresh_wifi_info()
{
	var ssid_val = document.getElementById("ssid_s").value

	if (ssid_val == "none")
	{
		$('#ssid_c').val("")
		$('#tr_cus_ssid').show()
		return
	}
	else
	{
		$('#ssid_c').val(ssid_val)
		$('#tr_cus_ssid').hide()
	}

	for (x in g_wifi_array) {
		if (g_wifi_array[x].ssid == ssid_val) {

			$('#tr_key').show()
			if (g_wifi_array[x].encryption.indexOf('WPA2') >= 0) {
				$('#encryption').val("psk2")
			} else if (g_wifi_array[x].encryption.indexOf('WPA1') >= 0) {
				$('#encryption').val("psk")
			} else if (g_wifi_array[x].encryption.indexOf('AES') >= 0) {
				$('#encryption').val("aes")
			} else if (g_wifi_array[x].encryption.indexOf('NONE') >= 0) {
				$('#encryption').val("none")
				$('#tr_key').hide()
			}

			break
		}
	}
}

function check_ssid()
{

}

function check_encryption()
{
	var encryption = $("#encryption").val()
	if (encryption == "none") {
		$('#wep_bit').attr("name","wep")
		$('#tr_key').hide()
		$('#tr_wep').hide()
	} else if (encryption == "wep"){
		$('#wep_bit').attr("name","sta.wep")
		$('#tr_key').show()
		$('#tr_wep').show()
	} else {
		$('#wep_bit').attr("name","wep")
		$('#tr_key').show()
		$('#tr_wep').hide()
	}
}

function check_password()
{
	var password = $("#passwd").val()

	if (password != "") {
		$("#password").attr("class","cbi-input-password")
		return ture
	} else {
		$("#password").attr("class","cbi-input-invalid")
		$("#password").focus()
		return false
	}
}
<% end
%>

function save_action()
{
<% if wlan_status and wlan_status ~= "" then
%>
	var encryption = $("#encryption").val()
	
	if (encryption != "none" && check_password("password")) {
		return false
	}
<% end
%>
	return true
}

<% if wlan_status and wlan_status ~= "" then
%>
function refresh_wifi_list(param)
{
	$("#refresh_bt").val("<%:Refreshing...%>")
	$("#refresh_bt").attr("disabled","disabled")
	XHR.get("<%=REQUEST_URI%>",{status:1,action:param},function(x,info) {
		if (info != null) {
			g_wifi_array = new Array()
			g_ssid_list = new Object()

			$("#ssid_s").empty()
			for (i=0; i<info.length; i++) {
				if (!g_ssid_list[info[i]["ssid"]]) {
					var wifi_info = new Object()
					var str = ""

					g_ssid_list[info[i]["ssid"]] = 1
					wifi_info.ssid = info[i]["ssid"]
					wifi_info.encryption = info[i]["encryption"]
					g_wifi_array.push(wifi_info)
					str += "<option value='" + info[i]["ssid"] + "'>" + info[i]["ssid"] + "</option>"
					$("#ssid_s").append(str)
				}
			}
		}
		$("#ssid_s").append($("<option value='none'><%:Custom%></option>"))
		
		refresh_wifi_info()
		$("#refresh_bt").val("<%:Refresh%>")
		$("#refresh_bt").removeAttr("disabled")
	})
}
<% end
%>

$(document).ready(function(){
<% if wlan_status and wlan_status ~= "" then
%>
	refresh_wifi_list("nofresh")
<% end
%>
})
</script>

<form name="form1" method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
<fieldset class="cbi-section" style="margin-left:20px">
	<table>
<% if wlan_status and wlan_status ~= "" then
%>
		<!--ssid-->
		<tr id="tr_ssid">
			<td width="40%"><%:SSID%></td>
			<td>
				<select class="cbi-input-select" id="ssid_s" onchange="refresh_wifi_info()">
					<option value='none'><%:Custom%></option>
				</select>
				<input type="button" class="cbi-button" id="refresh_bt" value="<%:Refresh%>" onclick="refresh_wifi_list('refresh')"></input>
			</td>
		</tr>
		<tr id="tr_cus_ssid" style="display:none;">
			<td width="40%"></td>
			<td>
				<input type="text" class="cbi-input-text" name="sta.ssid" id="ssid_c" onchange="check_ssid()" ></input>
			</td>
		</tr>

		<!--encryption-->
		<tr>
			<td width="40%"><%:Encryption%></td>
			<td>
				<select class="cbi-input-select" id="encryption" name="sta.encryption" onchange="check_encryption()">
					<option value="psk" <%= sta.encryption == "psk" and "selected" or ""%> ><%:WPA+PSK%></option>
					<option value="psk2" <%= sta.encryption == "psk2" and "selected" or ""%> ><%:WPA2+PSK%></option>
					<option value="wep" <%= sta.encryption == "wep" and "selected" or ""%> ><%:WEP%></option>
					<option value="none" <%= sta.encryption == "none" and "selected" or ""%> ><%:NONE%></option>
				</select>
			</td>
		</tr>

		<!--wep-->
		<tr id="tr_wep" style="display:none;">
			<td width="40%"></td>
			<td>
				<select class="cbi-input-select" id="wep_bit" name="wep">
					<option value="64bit" <%= sta.wep and (sta.wep == "64bit" and "selected" or "") or ""%> ><%:64bit%></option>
					<option value="128bit" <%= sta.wep and (sta.wep == "128bit" and "selected" or "") or ""%> ><%:128bit%></option>
				</select>
			</td>
		</tr>

		<!--password-->
		<tr id="tr_key">
			<td width="40%"><%:Password%></td>
			<td>
				<input type="password" class="cbi-input-password" name="sta.key" id="key" value="<%=sta.key%>" onchange="check_input(this.id)"></input>
				<img src="<%=resource%>/cbi/hide.png" style="vertical-align:middle" title="<%:Reveal/hide password%>" onclick="var e = document.getElementById('key'); e.type = (e.type=='password') ? 'text' : 'password'; this.src = (e.type=='password') ? '<%=resource%>/cbi/hide.png' : '<%=resource%>/cbi/show.png';"/>
			</td>
		</tr>
<% end
%>
		<!--wlan proto-->
		<tr>
			<td width="40%"><%:Protocol%></td>
			<td>
				<select class="cbi-input-select" id="proto" name="wlan.proto">
					<option value="dhcp" <%= wlan.proto == "dhcp" and "selected" or ""%> ><%:DHCP%></option>
					<option value="static" <%= wlan.proto == "static" and "selected" or ""%> ><%:Static address%></option>
				</select> </td>
		</tr>

		<!--wlan ipaddress-->
		<tr id="tr_ipaddr">
			<td width="40%"><%:IP Address%></td>
			<td>
				<input type="text" class="cbi-input-text" name="ipaddr" id="ipaddr" value=<%=wlan.ipaddr or "ipaddr"%> onchange="return true;" ></input>
			</td>
		</tr>

		<!--wlan netmask-->
		<tr id="tr_netmask">
			<td width="40%"><%:Netmask%></td>
			<td>
				<select class="cbi-input-select" id="proto" name="netmask">
					<option value="255.0.0.0" <%= wlan.netmask == "255.0.0.0" and "selected" or ""%> ><%:255.0.0.0%></option>
					<option value="255.255.0.0" <%= wlan.netmask == "255.255.0.0" and "selected" or ""%> ><%:255.255.0.0%></option>
					<option value="255.255.255.0" <%= wlan.netmask == "255.255.255.0" and "selected" or ""%> ><%:255.255.0.0%></option>
				</select>
			</td>
		</tr>

		<!--wlan gateway-->
		<tr id="tr_gateway">
			<td width="40%"><%:Default Gateway%></td>
			<td>
				<input type="text" class="cbi-input-text" name="gateway" id="gateway" value=<%=wlan.ipaddr or "gateway"%> onchange="return true;" ></input>
			</td>
		</tr>

		<!--status-->
		<tr>
			<td width="40%"><%:Status%></td>
			<td>
				<select class="cbi-input-select" id="disabled" name="sta.disabled">
					<option value="0" <%= sta.disabled == "0" and "selected" or ""%> ><%:Enable%></option>
					<option value="1" <%= sta.disabled == "1" and "selected" or ""%> ><%:Disable%></option>
				</select>
			</td>
		</tr>

		<!--apply-->
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input class="cbi-button" type="submit" name="cancel" value="<%:Cancel%>" />
				<input class="cbi-button cbi-button-save" type="submit" name="save" value="<%:Save%>" onclick="return save_action();"/>
				<input class="cbi-button" type="reset" value="<%:Reset%>" />
			</td>
		</tr>
	</table>
</fieldset>
</form>
<%+footer%>
