<%
	local th = {"Index","SSID","Encryption","Isolation (within SSID)","WMM","Status"}
	local colgroup = {"10%","25%","12%","20%","12%","11%","10%"}
-%>

<%+header%>
<h2><a id="content" name="content"><%:Network%> / <%:WLAN(AP)%></a></h2>
<fieldset>
	<table class="cbi-section-table">
	<%- for k,v in ipairs(colgroup) do %>
		<col style="width:<%=v%>">
	<%- end %>
		<tbody>
			<tr>
			<%- for k,v in ipairs(th) do %>
				<th><%=translate(v)%></th>
			<%- end %>
			</tr>
			<tr class=cbi-rowstyle-odd><td colspan='6' style='background:#9a9a9a'><%:Disabled%></td></tr>
		</tbody>
	</table>
</fieldset>

<%+footer%>
