<%-
	local uci = require "luci.model.uci".cursor()
-%>
<%+header%>
<style type="text/css">
table td{
text-align:left;
}
</style>
<script type="text/javascript" src="<%=resource_cbi_js%>"></script>
<script type="text/javascript" src="<%=resource%>/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
	var g_wifi_array = new Array()
	
	<% for k,v in ipairs(wifi_list) do %>
		g_wifi_array[<%=k%>] = new Object();
		g_wifi_array[<%=k%>].bssid = "<%=v.bssid%>"
		g_wifi_array[<%=k%>].channel = "<%=v.channel%>"
		g_wifi_array[<%=k%>].signal = "<%=v.signal%>"
		g_wifi_array[<%=k%>].security = "<%=v.security%>"
	<% end %>
	
	function refresh_wifi_info(id)
	{
		var bssid_val = document.getElementById(id).value

		if (bssid_val == "none") {
			$('#channel').text("-")
			$('#signal').text("-")
			$('#tr_cus_bssid').show()
			return
		} else {
			$('#tr_cus_bssid').hide()
		}
		
		for (x in g_wifi_array) {
			if (g_wifi_array[x].bssid == bssid_val) {
				$('#channel').text(g_wifi_array[x].channel)
				$('#signal').text(g_wifi_array[x].signal+'%')

				$('#tr_wdskey').show()
				if (g_wifi_array[x].security.indexOf('WPA2') >= 0) {
					$('#wds_wdsencryptype').val("psk2")
				} else if (g_wifi_array[x].security.indexOf('WPA1') >= 0) {
					$('#wds_wdsencryptype').val("psk")
				} else if (g_wifi_array[x].security.indexOf('AES') >= 0) {
					$('#wds_wdsencryptype').val("aes")
				} else if (g_wifi_array[x].security.indexOf('NONE') >= 0) {
					$('#wds_wdsencryptype').val("none")
					$('#tr_wdskey').hide()
				} else {
				}

				break
			}
		}
	}

	function refresh_password(id)
	{
		var tmp_val = document.getElementById(id).value
		if (tmp_val == "none") {
			$('#tr_wdskey').hide()
		} else {
			$('#tr_wdskey').show()
		}
	}

	function check_input(id)
	{
		var tmp_val = document.getElementById(id).value

		if (tmp_val != "") {
			$('#wds_wdskey').attr("class","cbi-input-password")
		} else {
			$('#wds_wdskey').attr("class","cbi-input-invalid")
		}
	}

	function check_mac(id)
	{
		var v = document.getElementById(id).value

		if (id == "wds_cus_bssid") {
			if (v.match(/^([a-fA-F0-9]{2}:){5}[a-fA-F0-9]{2}$/) != null) {
				$('#wds_cus_bssid').attr("class","cbi-input-text")
				return true
			} else {
				$('#wds_cus_bssid').attr("class","cbi-input-invalid")
				return false
			}
		} else {
			if (v.match(/^([a-fA-F0-9]{2}:){5}[a-fA-F0-9]{2}$/) != null) {
				return true
			} else {
				return false
			}
		}
	}
	
	function save_action()
	{
		var tmp_encry = document.getElementById("wds_wdsencryptype").value
		var tmp_mac = document.getElementById("wds_wdspeermac").value
		
		if (tmp_encry != "none") {
			var tmp_key = document.getElementById("wds_wdskey").value
			if (tmp_key == "") {
				$('#wds_wdskey').attr("class","cbi-input-invalid")
				$('#wds_wdskey').focus()
				
				return false
			}
		}

		if (tmp_mac != "none") {
			return check_mac("wds_wdspeermac")
		} else {
			return check_mac("wds_cus_bssid")
		}

	}

	function refresh_wifi_list(id)
	{
		$('#'+id).val("<%:Refreshing...%>")
		document.getElementById(id).disabled="disabled"
		XHR.get("<%=REQUEST_URI%>",{ status: 1 }, function() {
			window.location.reload();
		})
	}
	
	$(document).ready(function(){
		refresh_wifi_info("wds_wdspeermac")
	})
</script>

<form name="form1" method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">

<% if this_edit == "edit" then %>
	<h2><a><%:WDS / Edit%></a></h2>
<% else %>
	<h2><a><%:WDS / New%></a></h2>
<% end %>

<fieldset class="cbi-section" style="margin-left:20px">
	<table>
		<!--index-->
		<tr>
			<td width="40%"><%:Index%></td>
			<td>
				<% if this_edit == "edit" then %>
					<input type="hidden" class="cbi-input-text" id="wds_index" name="wds.index" value="<%=wds.index%>"><%=wds.index%></input>
				<% else %>
					<select class="cbi-input-select" id="wds_index" name="wds.index">
						<%
							local str = ""
							
							for k,v in ipairs(index_tb) do
								str = str.."<option value='"..v.."'>"..v.."</option>"
							end

							write(str)
						%>
					</select>
				<% end %>
			</td>
		</tr>
		<!--status-->
		<tr>
			<td width="40%"><%:Status%></td>
			<td>
				<select class="cbi-input-select" id="wds_disabled" name="wds.disabled">
					<option value="0" <%= wds.disabled == "0" and "selected" or ""%> ><%:Enable%></option>
					<option value="1" <%= wds.disabled == "1" and "selected" or ""%> ><%:Disable%></option>
				</select>
			</td>
		</tr>
		<!--local ssid-->
		<tr>
			<td width="40%"><%:Local SSID%></td>
			<td>
				<select class="cbi-input-select" id="wds_ifname" name="wds.ifname">
					<%
						local str = ""
						
						for k,v in pairs(local_ssid) do
							if wds.ifname == k then
								str = str.."<option selected value='"..k.."'>"..v.."</option>"
							else
								str = str.."<option value='"..k.."'>"..v.."</option>"
							end
						end

						write(str)
					%>
				</select>
			</td>
		</tr>
		<% if wds_model ~= "lazy" then %>
		<!--wdspeermac-->
		<tr>
			<td width="40%"><%:Remote SSID%></td>
			<td>
				<select class="cbi-input-select" id="wds_wdspeermac" name="wds.wdspeermac" onchange="refresh_wifi_info(this.id)">
					<%
						local str = ""
						local flag = false
						
						for k,v in ipairs(wifi_list) do
							if v.ssid and v.bssid then
								if v.bssid == wds.wdspeermac then
									str = str.."<option selected value='"..v.bssid.."' >"..v.ssid.."</option>"
									flag = true
								else
									str = str.."<option value='"..v.bssid.."'>"..v.ssid.."</option>"
								end
							end
						end

						if wds_model == "bridge" then
							if flag then
								str = str.."<option value='none'>"..translate("Custom").."</option>"
							else
								str = str.."<option selected value='none'>"..translate("Custom").."</option>"
							end
						end
						write(str)
					%>
				</select>
				<input type="button" class="cbi-button" id="refresh_bt" value="<%:Refresh%>" onclick="refresh_wifi_list(this.id)"></input>
			</td>
		</tr>
		<% if wds_model == "bridge" then %>
			<tr id="tr_cus_bssid" style="display:none">
				<td width="40%" style="padding-left:30px"><%:BSSID%></td>
				<td>
					<input type="text" class="cbi-input-text"  name="wds.cus_bssid" id="wds_cus_bssid" value="<%=wds.bssid%>" onchange="check_mac(this.id)"></input>
				</td>
			</tr>
		<% end %>
		<!--channel-->
		<tr>
			<td width="40%" style="padding-left:30px"><%:Channel%></td>
			<td>
				<label id="channel" name="channel">-</label>
			</td>
		</tr>
		<!--signal-->
		<tr>
			<td width="40%" style="padding-left:30px"><%:Signal%></td>
			<td>
				<label id="signal" name="signal">-</label>
			</td>
		</tr>
		<% end %>

		<!--wdsencryptype-->
		<tr>
			<td width="40%" style="padding-left:30px"><%:Encryption%></td>
			<td>
				<select class="cbi-input-select" id="wds_wdsencryptype" name="wds.wdsencryptype" onchange="refresh_password(this.id)">
					<option value="psk" <%= wds.wdsencryptype == "psk" and "selected" or ""%> ><%:WPA+PSK%></option>
					<option value="psk2" <%= wds.wdsencryptype == "psk2" and "selected" or ""%> ><%:WPA2+PSK%></option>
					<option value="aes" <%= wds.wdsencryptype == "aes" and "selected" or ""%> ><%:AES%></option>
					<option value="none" <%= wds.wdsencryptype == "none" and "selected" or ""%> ><%:NONE%></option>
				</select>
			</td>
		</tr>
		<!--wdskey-->
		<tr id="tr_wdskey">
			<td width="40%" style="padding-left:30px"><%:Password%></td>
			<td>
				<input type="password" class="cbi-input-password" name="wds.wdskey" id="wds_wdskey" value="<%=wds.wdskey%>" onchange="check_input(this.id)"></input>
				<img src="<%=resource%>/cbi/hide.png" style="vertical-align:middle" title="<%:Reveal/hide password%>" onclick="var e = document.getElementById('wds_wdskey'); e.type = (e.type=='password') ? 'text' : 'password'; this.src = (e.type=='password') ? '<%=resource%>/cbi/hide.png' : '<%=resource%>/cbi/show.png';"/>
			</td>
		</tr>
		<!--wdsphymode-->
		<tr>
			<td width="40%" style="padding-left:30px"><%:Physical Mode%></td>
			<td>
				<select class="cbi-input-select" id="wds_wdsphymode" name="wds.wdsphymode">
					<option value="HTMIX" <%= wds.wdsphymode == "HTMIX" and "selected" or ""%> ><%:HTMIX%></option>
				</select>
			</td>
		</tr>
		
		<!--apply-->
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input class="cbi-button" type="submit" name="cancel" value="<%:Cancel%>" />
				<input class="cbi-button cbi-button-save" type="submit" name="save" value="<%:Save%>" onclick="return save_action();"/>
				<input class="cbi-button" type="reset" value="<%:Reset%>" />
			</td>
		</tr>
	</table>
</fieldset>
</form>
<%+footer%>
