<%+header%>
<%	local disp = require "luci.dispatcher"
	local uci = require "luci.model.uci".cursor()
	local current_user = disp.context.authuser

	local edit_permission = uci:get("user",current_user.."_web","profile_fxso")
%>
<style>
.popover {
position: absolute;
display: block;
float: left;
margin: 20px;
line-height: 20px;
padding-bottom: 24px;
background-color: #f9f9f9;
margin-right: 0;
margin-left: 0;
border-color: #ddd;
border-width: 1px;
border-radius: 4px 4px 0 0;
-webkit-box-shadow: none;
box-shadow: none;
}
.popover-title {
padding: 1px 14px;
margin: 0;
font-size: 14px;
background-color: #aae4ff;
border-radius: 5px 5px 0 0;
}
.popover-content {
padding: 9px 14px;
}
</style>
<%
	local ds = require "luci.dispatcher"
	local uci = require "luci.model.uci".cursor()
	local i18n = require "luci.i18n"
	local data = uci:get_all("profile_fxso") or {}
	local dialplan = uci:get_all("profile_dialplan") or {}
	local tonegrpvalue = {["0"]="USA",["1"]="Austria",["2"]="Belgium",["3"]="Finland",["4"]="France",["5"]="Germany",["6"]="Greece",["7"]="Italy",["8"]="Japan",["9"]="Norway",["10"]="Spain",
						 ["11"]="Sweden",["12"]="UK",["13"]="Australia",["14"]="China",["15"]="Hongkong",["16"]="Denmark",["17"]="Russia",["18"]="Poland",["19"]="Portugal",["20"]="Turkey",["21"]="Dutch",["ph"]="Philippines",["za"]="South Africa"}
	local fxs_more_info = {}
	local fxo_more_info = {}
	local fxs_cnt = 0
	local fxo_cnt = 0
	local slic_tb = {"600 Ohm","900 Ohm","600 Ohm + 1uF","900 Ohm + 2.16uF","270 Ohm + (750 Ohm || 150nF)","220 Ohm + (820 Ohm || 120 nF)","220 Ohm + (820 Ohm || 115 nF)","220 Ohm + (680 Ohm || 100 nF)"}
	local MAX_FXSO_PROFILE = tonumber(uci:get("profile_param","global","max_fxso_profile") or "4")
	for k,v in pairs(data) do
		if v.index and v.name and "fxs" == v['.type'] then
			fxs_cnt = fxs_cnt+1
			fxs_more_info[fxs_cnt] = ""
			if v.flash_flag then
				fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt]..translate("Flash Detection")..":"..(v.flash_flag == "1" and translate("On")).."<br>"
				fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("Min Time (ms)")..":"..v.flash_min_time.."<br>"
				fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("Max Time (ms)")..":"..v.flash_max_time.."<br>"
			else
				fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt]..translate("Flash Detection")..":"..translate("Off").."<br>"
			end
			fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt]..translate("DTMF Parameters").."<br>"
			fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("DTMF Send Interval(ms)")..":"..(v.dtmf_sendinterval or "200").."<br>"
			fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("DTMF Duration(ms)")..":"..(v.dtmf_duration or "200").."<br>"
			fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("DTMF Gain")..":"..(v.dtmf_gain or "-6").."dB".."<br>"
			fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("DTMF Detect Threshold")..":"..(v.dtmf_detect_threshold or "-30").."dB".."<br>"
			if v.cid_send_mode then
				fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt]..translate("CID Send Mode")..":"..(v.cid_send_mode:match("^FSK$") and "FSK-BEL202" or v.cid_send_mode).."<br>"
			end
			if v.message_mode then
				fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("Message Mode")..":"..v.message_mode.."<br>"
			end
			if v.message_format then
				local message_format = (v.message_format == "0" and translate("Display Name and CID")) or (v.message_format == "1" and translate("Only CID")) or (v.message_format == "2" and translate("Only Display Name"))
				fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("Message Format")..":"..message_format.."<br>"
			end
			if v.send_cid_before and v.send_cid_before == "0" then
				fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("CID Send Timing")..":"..translate("Send After RING").."<br>"
				fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("Delay Timeout After Ring(ms)")..":"..(v.send_cid_delay or "2000").."<br>"
			elseif v.send_cid_before and v.send_cid_before == "1" then
				fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("CID Send Timing")..":"..translate("Send Before RING").."<br>"
			end
			fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt]..translate("Impedance")..":"..slic_tb[v.slic+1].."<br>"
			fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt]..translate("REN(Ringer Equivalency Number)")..":"..(v.ren or 1).."</br>"
			fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt]..translate("Send Polarity Reverse")..":"..(v.polarity_reverse == "off" and translate("Off") or translate("On")).."<br>"
			local flashhook_dtmf=translate("Off")
			if v.flashhook_dtmf == "A" then
				flashhook_dtmf="A(12)"
			elseif v.flashhook_dtmf == "B" then
				flashhook_dtmf="B(13)"
			elseif v.flashhook_dtmf == "C" then
				flashhook_dtmf="C(14)"
			elseif v.flashhook_dtmf == "D" then
				flashhook_dtmf="D(15)"
			elseif v.flashhook_dtmf == "F" then
				flashhook_dtmf="F(16)"
			elseif v.flashhook_dtmf and v.flashhook_dtmf ~= "0" then
				flashhook_dtmf=v.flashhook_dtmf
			end
			fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt]..translate("Send Flash Hook via SIP INFO / RFC2833")..":"..flashhook_dtmf.."<br>"
			fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt]..translate("Offhook Current Detect Threshold")..":"..(v.offhook_current_threshold or "12")..translate("mA").."<br>"
			fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt]..translate("Onhook Current Detect Threshold")..":"..(v.onhook_current_threshold or "10")..translate("mA").."<br>"
			if "off" == v.dialRegex then
				fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt]..translate("Dialplan")..":"..translate("Off").."<br>"
			else
				for i,j in pairs(dialplan) do
					if j.index and j.name and j.index == v.dialRegex then
						fxs_more_info[fxs_cnt] = fxs_more_info[fxs_cnt]..translate("Dialplan")..":"..v.dialRegex.."-&lt"..j.name..">".."<br>"
					end
				end
			end
		end

		if v.index and v.name and "fxo" == v['.type'] then
			fxo_cnt = fxo_cnt+1
			fxo_more_info[fxo_cnt] = ""
			if v.delay_offhook then
				fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt]..translate("Delay Offhook(s)")..":"..(v.delay_offhook or "3").."<br>"
			end
			fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt]..translate("Dial Delay(ms)")..":"..(v.dial_delay or 400).."<br>"
			fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt]..translate("DTMF Parameters").."<br>"
			fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("DTMF Send Interval(ms)")..":"..(v.dtmf_sendinterval or "200").."<br>"
			fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("DTMF Duration(ms)")..":"..(v.dtmf_duration or "200").."<br>"
			fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("DTMF Gain")..":"..(v.dtmf_gain or "-6").."dB".."<br>"
			fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("DTMF Detect Threshold")..":"..(v.dtmf_detect_threshold or "-30").."dB".."<br>"
			fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt]..translate("BusyTone Detect Parameters").."<br>"
			fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("Detect Tone counts")..":"..(v.busytone_count or "8").."<br>"
			fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("Detect Tone Delta(ms)")..":"..(v.busytone_detect_busy_delta or "50").."<br>"
			fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("Intermittent Ratio")..":"..((not v.busy_ratio or v.busy_ratio == "0") and translate("1:1") or v.busy_ratio == "1" and translate("Custom")).."<br>"
			if v.busy_tone_on then
				fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("Tone 1 On Time(ms)")..":"..v.busy_tone_on.."<br>"
			end
			if v.busy_tone_off then
				fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("Tone 1 Off Time(ms)")..":"..v.busy_tone_off.."<br>"
			end
			if v.busy_tone_on_1 then
				fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("Tone 2 On Time(ms)")..":"..v.busy_tone_on_1.."<br>"
			end
			if v.busy_tone_off_1 then
				fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt].."&nbsp;&nbsp;&nbsp;&nbsp;"..translate("Tone 2 Off Time(ms)")..":"..v.busy_tone_off_1.."<br>"
			end
			if "off" == v.dialRegex then
				fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt]..translate("Dialplan")..":"..translate("Off").."<br>"
			else
				for i,j in pairs(dialplan) do
					if j.index and j.name and j.index == v.dialRegex then
						fxo_more_info[fxo_cnt] = fxo_more_info[fxo_cnt]..translate("Dialplan")..":"..v.dialRegex.."-&lt"..j.name..">".."<br>"
					end
				end
			end
		end
	end
%>
<script type="text/javascript">
<% if (fxs_more_info and #fxs_more_info > 0) or (fxo_more_info and #fxo_more_info > 0) then %>
	var fxs_tr_detail = new Array()
	var fxo_tr_detail = new Array()
	<% for k,v in ipairs(fxs_more_info) do %>
		fxs_tr_detail[<%=k%>] = "<%=v%>"
	<% end %>
	<% for k,v in ipairs(fxo_more_info) do %>
		fxo_tr_detail[<%=k%>] = "<%=v%>"
	<% end %>
function get_visiable_area_height(){
	if(document.body.clientHeight&&document.documentElement.clientHeight)
		return (document.body.clientHeight<document.documentElement.clientHeight&&0!=document.documentElement.scrollTop)?document.body.clientHeight:document.documentElement.clientHeight;
	else
		return (document.body.clientHeight>document.documentElement.clientHeight)?document.body.clientHeight:document.documentElement.clientHeight;
}
function display_more_info(e,x,obj_id,content_id,type)
{
	var mx,my;
	var t = e.offsetTop + 30;
	var l = e.offsetLeft + 20;
	while(e = e.offsetParent)
	{
		t += e.offsetTop;
		l += e.offsetLeft;
	}

	var obj = document.getElementById(obj_id);
	var content_obj=document.getElementById(content_id)
	content_obj.innerHTML = (type == "fxs")?fxs_tr_detail[x]:fxo_tr_detail[x];
	obj.style.display=""
	var visiable_area_h = get_visiable_area_height()
	if(window.event.clientY + obj.clientHeight > visiable_area_h)
	{
		if((t-content_obj.clientHeight > 0))
		{
			if(t-(obj.clientHeight+60) < (t-window.event.clientY))
				t -= window.event.clientY
			else
				t -= (obj.clientHeight+60)
		}
		else
			t -= (window.event.clientY + obj.clientHeight - visiable_area_h)
	}
	obj.style.left=l+"px"
	obj.style.top=t+"px"
	
}
function hide_more_info(obj_id,content_id)
{
	document.getElementById(obj_id).style.display = "none";
	document.getElementById(content_id).innerHTML = "";
}
<% end %>
</script>
<% if luci.version.license and luci.version.license.fxs then %>
<form name="form1" method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data" >
<div>
	<fieldset>
		<h2><a><%:Profile / FXS%></a></h2>
		<table class="cbi-section-table">
			<col style="width: 6%">
			<col style="width:10%">
			<col style="width:10%">
			<col style="width:12%">
			<col style="width:13%">
			<col style="width:20%">
			<col style="width:22%">
			<col style="width:7%">
			<tbody>
				<tr>
					<th><%:Index%></th>
					<th><%:Name%></th>
					<th><%:Tone Group%></th>
					<th><%:Digit Timeout(s)%></th>
					<th><%:Dial Timeout(s)%></th>
					<th><%:Call Out Ring Timeout(s)%></th>
					<th><%:Call In No Answer Timeout(s)%></th>
					<th></th>
				</tr>
			<%
				local flag = false
				local cnt = 0
				for i=1,MAX_FXSO_PROFILE do
					for k,v in pairs(data) do
						if v.index and i == tonumber(v.index) and "fxs" == v['.type'] then
							local s = ""
							if 1 == cnt%2 then
			%>
								<tr class='cbi-rowstyle-odd' onmouseover="display_more_info(this,<%=v.index%>,&quot;fxs_more_info&quot,&quot;fxs_more_info_content&quot,&quot;fxs&quot)" onmouseout="hide_more_info(&quot;fxs_more_info&quot;,&quot;fxs_more_info_content&quot;)">
							<% else %>
								<tr class='cbi-rowstyle-even' onmouseover="display_more_info(this,<%=v.index%>,&quot;fxs_more_info&quot,&quot;fxs_more_info_content&quot,&quot;fxs&quot)" onmouseout="hide_more_info(&quot;fxs_more_info&quot;,&quot;fxs_more_info_content&quot;)">
							<% end %>
							<td><%=v.index%></td>
							<td><%=(v.name or "")%></td>
							<td><%=translate(tonegrpvalue[v.tonegrp] or "0")%></td>
							<td><%=(v.digit or "")%></td>
							<td><%=v.dialTimeout or ""%></td>
							<td><%=v.ringtimeout or ""%></td>
							<td><%=v.noanswer or ""%></td>
							<% if "admin" == current_user or (edit_permission and edit_permission:match("edit")) then %>
							<td><a href="<%=ds.build_url("admin","profile","fxso","fxs",k,"edit")%>" title="<%=translate("Edit")%>"><img style="border:none" src="/luci-static/resources/cbi/edit.png"></a>
							<input type="image" onclick="<%=uci:check_cfg_deps("profile_fxso",k,"endpoint_fxso.profile")%>" name="Delete.profile_fxso.<%=k%>" value="Delete" title="<%=translate("Delete")%>" src="/luci-static/resources/cbi/remove.png" /></td></tr>
							<% else %>
							<td></td></tr>
							<% end %>
			<%
							flag = true
							cnt = cnt + 1
						end
					end
				end
				if false == flag then
			%>
					<tr><td colspan='8'><%=translate("This section contains no values yet")%></td></tr>
			<%	end %>
			</tbody>
		</table>
		<% if cnt < MAX_FXSO_PROFILE and ("admin" == current_user or (edit_permission and edit_permission:match("edit"))) then %>
			<div>
				<input class="cbi-button cbi-button-add" type="submit" value="<%:New%>" name="New.fxs" title="New">
			</div>
		<% end %>
	</fieldset>
	<div class="popover left" id="fxs_more_info" style="display:none">
		<h3 class="popover-title"><%:More Info%></h3>
		<div class="popover-content" id="fxs_more_info_content"></div>
	</div>
</div>
<% end %>
<% if luci.version.license and luci.version.license.fxo then %>
</form>
<form name="form2" method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data" >
	<div>
	<h2><a><%:Profile / FXO%></a></h2>
	<fieldset>
		<table class="cbi-section-table">
			<col style="width: 6%">
			<col style="width:10%">
			<col style="width:12%">
			<col style="width:12%">
			<col style="width:15%">
			<col style="width:18%">
			<col style="width:20%">
			<col style="width:7%">
			<tbody>
				<tr>
					<th><%:Index%></th>
					<th><%:Name%></th>
					<th><%:Tone Group%></th>
					<th><%:Digit Timeout(s)%></th>
					<th><%:Dial Timeout(s)%></th>
					<th><%:Detect Polarity Reverse%></th>
					<th><%:Detect Caller ID%></th>
					<th></th>
				</tr>
			<%
				local flag = false
				local cnt = 0
				for i=1,MAX_FXSO_PROFILE do
					for k,v in pairs(data) do
						if v.index and i == tonumber(v.index) and "fxo" == v['.type'] then
							local s = ""
							if 1 == cnt%2 then
			%>
								<tr class='cbi-rowstyle-odd' onmouseover="display_more_info(this,<%=v.index%>,&quot;fxo_more_info&quot,&quot;fxo_more_info_content&quot,&quot;fxo&quot)" onmouseout="hide_more_info(&quot;fxo_more_info&quot;,&quot;fxo_more_info_content&quot;)">
							<% else %>
								<tr class='cbi-rowstyle-even' onmouseover="display_more_info(this,<%=v.index%>,&quot;fxo_more_info&quot,&quot;fxo_more_info_content&quot,&quot;fxo&quot)" onmouseout="hide_more_info(&quot;fxo_more_info&quot;,&quot;fxo_more_info_content&quot;)">
							<% end %>
							<td><%=v.index%></td>
							<td><%=(v.name or "")%></td>
							<td><%=translate(tonegrpvalue[v.tonegrp] or "0")%></td>
							<td><%=(v.digit or "")%></td>
							<td><%=v.dialTimeout or ""%></td>
							<td><%=(v.polarity_reverse == "on" and translate("On") or translate("Off"))%></td>
							<td><%=(v.detectcid_opt == "0" and translate("Off")) or (v.detectcid_opt == "1" and translate("Detect before ring").."/"..(v.dtmf_detectcid_timeout or "5000")..translate("ms")) or (v.detectcid_opt == "2" and translate("Detect after ring").."/"..(v.dtmf_detectcid_timeout or "5000")..translate("ms")) or ""%></td>
							<% if "admin" == current_user or (edit_permission and edit_permission:match("edit")) then %>
							<td><a href="<%=ds.build_url("admin","profile","fxso","fxo",k,"edit")%>" title="<%=translate("Edit")%>"><img style="border:none" src="/luci-static/resources/cbi/edit.png"></a>
							<input type="image" onclick="<%=uci:check_cfg_deps("profile_fxso",k,"endpoint_fxso.profile")%>" name="Delete.profile_fxso.<%=k%>" value="Delete" title="<%=translate("Delete")%>" src="/luci-static/resources/cbi/remove.png" /></td></tr>
							<% else %>
							<td></td></tr>
							<% end %>
			<%
							flag = true
							cnt = cnt + 1
						end
					end
				end
				if false == flag then
			%>
					<tr><td colspan='8'><%=translate("This section contains no values yet")%></td></tr>
			<%	end %>
			</tbody>
		</table>
		<% if cnt < MAX_FXSO_PROFILE and ("admin" == current_user or (edit_permission and edit_permission:match("edit"))) then %>
			<div>
				<input class="cbi-button cbi-button-add" type="submit" value="<%:New%>" name="New.fxo" title="New">
			</div>
		<% end %>
	</fieldset>
	<div class="popover left" id="fxo_more_info" style="display:none">
		<h3 class="popover-title"><%:More Info%></h3>
		<div class="popover-content" id="fxo_more_info_content"></div>
	</div>
</div>
</form>
<% end %>
<%+footer%>
