<div class="cbi-value<% if self.last_child then %> cbi-value-last<% end %>" <% if #self.deps > 0  then  %>style="display:none"<%end%> id="cbi-<%=self.config.."-"..section.."-"..self.option%>">

<div class="cbi-value-title"><label style="margin-left:<%=self.margin%>;"><%-=self.title or ""-%></label></div>
<div class="cbi-value-field" style="width:45%;">
<%
	local value_list = {{[1]="Deactivate",whole="Deactivate"},{[1]="1003",[2]="Alaway",whole="1003::Alaway"},{[1]="SIPP-1",[2]="2",[3]="1001",whole="SIPP-1::2::1001"},{[1]="SIPP-2",[2]="1",[3]="1002"},{[1]="SIPP-3",[2]="1",[3]="1003",whole="SIPP-3::1::1003"},{[1]="SIPP-4",[2]="2",[3]="1004",whole="SIPP-4::2::1004"},{[1]="SIPP-5",[2]="3",[3]="1005",whole="SIPP-5::3::1005"}}

	self.f_keylist = {"Deactivate","1003","SIPP-2","SIPP-3","SIPP-4","SIPP-5","SIPP-6","SIPP-7"}
	self.f_vallist = {translate("Off"),"1003","SIPP-2","SIPP-3","SIPP-4","SIPP-5","SIPP-6","SIPP-7"}
	self.s_keylist = {"Alaway","1","2","3"}
	self.s_vallist = {translate("Alaway"),"1","2","3"}
	--local value_list = self:cfgvalue(section);

	if "table" == type(value_list) then
		for k,v in pairs(value_list) do%>
		<select class="cbi-input-select" style="width:115px;" onclick="return true;" onchange="return true;" size="1"<%=attr("id",cbid)..attr("name",cbid.."-select0")%>>
		<% for i, key in pairs(self.f_keylist) do -%>
			<option "option0"<%=attr("value",key)..ifattr(v[1]==key,"selected","selected")%>><%=striptags(self.f_vallist[i])%></option>
		<%end%>
		</select><label style="display:;">
		</label><select class="cbi-input-select" style="width:75px;display:;" onchange="return true;" size="1"<%=attr("id",cbid.."-select1")%>>
		<% for i, key in pairs(self.s_keylist) do -%>
			<option id="option1"<%=attr("value",key)..ifattr(v[2]==key,"selected","selected")%>><%=striptags(self.s_vallist[i])%></option>
		<%end%>
		</select><label style="display:;">
			&nbsp;<%:Dest Number%>
		</label><input class="cbi-input-text" type="text" style="width:5em;display:;"<%=ifattr(v[3],"value")..attr("id",cbid.."-input."..k)%>><input type="text" style="display:none;"<%=ifattr(v[whole],"value")..attr("name",cbid)%>><br/>
		<% end
	elseif "nil" == type(value_list) then%>
		<div <%=attr("class",cbid.."-class")%>><select class="cbi-input-select" style="width:115px;" onclick="return true;" onchange="return true;"<%=attr("id",cbid)..attr("name",cbid.."-select0.1")..ifattr(self.size,"size")%>>
			<% for i, key in pairs(self.f_keylist) do -%>
			<option id="select0"<%=attr("value",key)%>><%=striptags(self.f_vallist[i])%></option>
			<%end%>
			</select>&nbsp;<span><select class="cbi-input-select" style="width:75px;" onchange="return true;"<%=attr("id",cbid.."-select1.1")..attr("name",cbid.."-select1.1")..ifattr(self.size,"size")%>>
			<% for i, key in pairs(self.s_keylist) do -%>
			<option id="select1"<%=attr("value",key)%>><%=striptags(self.s_vallist[i])%></option>
			<%end%>
			</select></span><span<%=attr("id",cbid.."-span.1")%>>&nbsp;&nbsp;<%:Dest Number%>&nbsp;<input class="cbi-input-text" type="text" style="width:5em;"<%=attr("id",cbid.."-input.1")..attr("name",cbid.."-input.1")%>/>
		</span><br/></div>
	<%end %>
</div>
<script type="text/javascript">

function cbi_callforwarding_init(name, respath)
{
	function cbi_dyndblsellist_update()
	{
		var objs = document.getElementsByName(name);
		for (var i = 0; i < objs.length; i++) {
			var n2 = objs[i].nextSibling.nextSibling;
			var p = objs[i].nextSibling.nextSibling.nextSibling;
			p.value = (objs[i].value && n2.value) ? objs[i].value + '::' + n2.value : '';
		}
	}

	function cbi_dyndblsellist_renumber(e)
	{
		/* in a perfect world, we could just getElementsByName() - but not if
		 * MSIE is involved... */

		var objs = [ ]; // = document.getElementsByName(name);
		for (var i = 0; i < e.parentNode.childNodes.length; i++)
			if (e.parentNode.childNodes[i].name == name)
				objs.push(e.parentNode.childNodes[i]);

		var selobjs = document.getElementsByName(name);
		var options_len = objs[0].options.length;
		for (var i = 0; i < objs.length && i < options_len; i++)
		{
			objs[i].id = name + '.' + (i + 1);
			objs[i].nextSibling.nextSibling.nextSibling.nextSibling.src = respath + (((i+1) < selobjs.length || (i+1) == options_len) ? '/cbi/remove.png' : '/cbi/add.png');
		}

		if(objs.length < options_len)
		{
			if(objs.length > 1 && "br" == objs[objs.length-1].nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.tagName.toLowerCase())
			{
				var btn = document.createElement('img');
					btn.className = 'cbi-image-button';
					btn.src = respath + '/cbi/remove.png'

				objs[objs.length-1].parentNode.insertBefore(btn, objs[objs.length-1].nextSibling.nextSibling.nextSibling.nextSibling);

				cbi_bind(btn,        'click',    cbi_dyndblsellist_btnclick);
			}
			if(objs.length > 1 && "img" == objs[objs.length-1].nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.tagName.toLowerCase())
			{
				objs[objs.length-1].nextSibling.nextSibling.nextSibling.nextSibling.src = respath + '/cbi/remove.png'
			}
			if(1 == objs.length && "img" == objs[objs.length-1].nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.tagName.toLowerCase())
				objs[objs.length-1].parentNode.removeChild(objs[objs.length-1].nextSibling.nextSibling.nextSibling.nextSibling.nextSibling)

		}
		e.focus();
	}

	function cbi_dyndblsellist_keypress(ev)
	{
		ev = ev ? ev : window.event;

		var se = ev.target ? ev.target : ev.srcElement;

		if (se.nodeType == 3)
			se = se.parentNode;

		switch (ev.keyCode)
		{
			/* backspace, delete */
			case 8:
			case 46:
				if (se.value.length == 0)
				{
					if (ev.preventDefault)
						ev.preventDefault();

					return false;
				}

				return true;

			/* enter, arrow up, arrow down */
			case 13:
			case 38:
			case 40:
				if (ev.preventDefault)
					ev.preventDefault();

				return false;
		}

		return true;
	}

	function cbi_dyndblsellist_keydown(ev)
	{

		ev = ev ? ev : window.event;

		var se = ev.target ? ev.target : ev.srcElement;

		var prev = se.previousSibling;
		while (prev && prev.name != name)
			prev = prev.previousSibling;

		var next = se.nextSibling;
		while (next && next.name != name)
			next = next.nextSibling;

		switch (ev.keyCode)
		{
			/* backspace, delete */
			case 8:
			case 46:
				var jump = (ev.keyCode == 8)
					? (prev || next) : (next || prev);
				if (jump)
				{
					if("img" == se.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.tagName.toLowerCase())
						se.parentNode.removeChild(se.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling);
					se.parentNode.removeChild(se.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling);
					se.parentNode.removeChild(se.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling);
					se.parentNode.removeChild(se.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling);
					se.parentNode.removeChild(se.nextSibling.nextSibling.nextSibling.nextSibling);
					se.parentNode.removeChild(se.nextSibling.nextSibling.nextSibling);
					se.parentNode.removeChild(se.nextSibling.nextSibling);
					se.parentNode.removeChild(se.nextSibling);
					se.parentNode.removeChild(se);

					/*
					cbi_dyndblsellist_renumber(jump);
					*/

					if (ev.preventDefault)
						ev.preventDefault();

					/* IE Quirk, needs double focus somehow */
					jump.focus();

					return false;
				}

				break;

			/* enter */
			case 13:
				var n = se.cloneNode(true);

				var selobjs = document.getElementsByName(name);
				var selobj = document.getElementById(selobjs[selobjs.length-1].id);

				var selected_index = 0;

				for( var i = 0; i < selobjs.length; i++)
				{
					var index = selobjs[i].selectedIndex;
					selected_index |= 1 << index;
				}

				var selected_setflag = 0;

				for( var i = 0; i < selobj.length; i++ )
				{
					if(0 == selected_setflag && !((1 << i) & selected_index))
					{
						var div_tmp = document.createElement("div");
						div_tmp.innerHTML="<select><option value="+selobj.option[i].value" selected>"+selobj.option[i].text+"</select>"

						n.replaceChild(div_tmp.firstChild.firstChild,el.childNodes[i])

						n.option[i].innerHTML = '<option selected></option>'
						n.option[i].
						n1.options[i].selected = true;
						selected_setflag = 1;
					} else {
						n.options[i] = new Option(selobj.options[i].text, selobj.options[i].value);
						n.options[i].id = selobj.options[i].id;
					}
				}

				var s = se.nextSibling.cloneNode(true);
				var n2 = se.nextSibling.nextSibling.cloneNode(true);
				n2.value = n2.options[0].value

				var p = se.nextSibling.nextSibling.nextSibling.cloneNode(true);
				var b = document.createElement('img');

				cbi_bind(b, 'click',    cbi_dyndblsellist_btnclick);

				if (next)
				{
					se.parentNode.insertBefore(n1, next);
					se.parentNode.insertBefore(s, next);
					se.parentNode.insertBefore(n2, next);
					se.parentNode.insertBefore(p, next);
					se.parentNode.insertBefore(b, next);
					se.parentNode.insertBefore(document.createElement('br'), next);
				}
				else
				{
					if("img" == se.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.tagName.toLowerCase())
						se.parentNode.removeChild(se.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling);
					se.parentNode.appendChild(n1);
					se.parentNode.appendChild(s);
					se.parentNode.appendChild(n2);
					se.parentNode.appendChild(p);
					se.parentNode.appendChild(b);
					se.parentNode.appendChild(document.createElement('br'));
				}

				var dt = se.nextSibling.nextSibling.nextSibling.getAttribute('cbi_datatype');
				var op = se.nextSibling.nextSibling.nextSibling.getAttribute('cbi_optional') == 'true';

				if (dt)
					cbi_validate_field(p, op, dt);

				cbi_bind(n1,'change',   cbi_dyndblsellist_update);
				cbi_bind(n2,'change',   cbi_dyndblsellist_update);
				cbi_dyndblsellist_update();
				cbi_dyndblsellist_renumber(n1);
				break;

			/* arrow up */
			case 38:
				if (prev)
					prev.focus();

				break;

			/* arrow down */
			case 40:
				if (next)
					next.focus();

				break;
		}

		return true;
	}

	function cbi_dyndblsellist_btnclick(ev)
	{
		ev = ev ? ev : window.event;

		var se = ev.target ? ev.target : ev.srcElement;

		if (se.src.indexOf('remove') > -1) /*click del*/
		{
			cbi_dyndblsellist_keydown({
				target:  se.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling,
				keyCode: 8
			});
		}
		else  /* click add*/
		{
			var objs = document.getElementsByName(name);
			if(1 == objs.length)
				cbi_dyndblsellist_keydown({target:  se.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling,keyCode: 13});
			else
				cbi_dyndblsellist_keydown({target:  se.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling,keyCode: 13});
		}

		return false;
	}

	var selobjs = document.getElementsByName(name);
	if(selobjs.length > 0)
		var options_len = document.getElementById(selobjs[selobjs.length-1].id).length;

	for( var i = 0; i < selobjs.length; i++ )
	{
		var btn = document.createElement('img');
			btn.className = 'cbi-image-button';

		if(options_len > 1)
			btn.src = respath + ((((i+1) < selobjs.length) || ((i+1) >= options_len))  ? '/cbi/remove.png' : '/cbi/add.png');

		selobjs[i].parentNode.insertBefore(btn, selobjs[i].nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling);
		cbi_bind(btn,        'click',    cbi_dyndblsellist_btnclick);
		/*
		cbi_bind(selobjs[i], 'change',   cbi_dyndblsellist_update);
		cbi_bind(selobjs[i].nextSibling.nextSibling,  'change',    cbi_dyndblsellist_update);
		*/
	}
	/*
	cbi_dyndblsellist_update();
	*/

	if(selobjs.length > 1 && selobjs.length < options_len)
	{
		var btn = document.createElement('img');
			btn.className = 'cbi-image-button';
			btn.src = respath + '/cbi/remove.png'

		selobjs[selobjs.length-1].parentNode.insertBefore(btn, selobjs[selobjs.length-1].nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling);

		cbi_bind(btn,        'click',    cbi_dyndblsellist_btnclick);
	}
}

cbi_callforwarding_init('<%=cbid%>-select0','<%=resource%>');
</script>

<div <%=attr("id", cbid..".tip")%> class="cbi-input-tip" style="display:none;width:15%;margin-left:-10px;">
	<div style="display:table-cell;vertical-align:middle;">
		<%- local datatype_tip = require "luci.cbi.datatypes".get_datatypes_tip("phonenumber") %>
		<%=translate(tostring(datatype_tip))%>
	</div>
</div>

</div>
<% if #self.deps > 0 or #self.subdeps > 0 then -%>
	<script type="text/javascript" id="cbip-<%=self.config.."-"..section.."-"..self.option%>">
		<% for j, d in ipairs(self.subdeps) do -%>
			cbi_d_add("cbi-<%=self.config.."-"..section.."-"..self.option..d.add%>", {
		<%-
			for k,v in pairs(d.deps) do
				local depk
				if k:find("!", 1, true) then
					depk = string.format('"%s"', k)
				elseif k:find(".", 1, true) then
					depk = string.format('"cbid.%s"', k)
				else
					depk = string.format('"cbid.%s.%s.%s"', self.config, section, k)
				end
		-%>
			<%-= depk .. ":" .. string.format("%q", v)-%>
			<%-if next(d.deps, k) then-%>,<%-end-%>
		<%-
			end
		-%>
			}, "cbip-<%=self.config.."-"..section.."-"..self.option..d.add%>");
		<%- end %>
		<% for j, d in ipairs(self.deps) do -%>
			cbi_d_add("cbi-<%=self.config.."-"..section.."-"..self.option..d.add%>", {
		<%-
			for k,v in pairs(d.deps) do
				local depk
				if k:find("!", 1, true) then
					depk = string.format('"%s"', k)
				elseif k:find(".", 1, true) then
					depk = string.format('"cbid.%s"', k)
				else
					depk = string.format('"cbid.%s.%s.%s"', self.config, section, k)
				end
		-%>
			<%-= depk .. ":" .. string.format("%q", v)-%>
			<%-if next(d.deps, k) then-%>,<%-end-%>
		<%-
			end
		-%>
			}, "cbip-<%=self.config.."-"..section.."-"..self.option..d.add%>");
		<%- end %>
	</script>
<%- end %>
