<%- if self.title and #self.title > 0 then -%>
</div>
<% if self.datatype then 
		local datatype_tip = require "luci.cbi.datatypes".get_datatypes_tip(self.datatype) 
		if datatype_tip ~="" then 
	-%>
		<div <%=attr("id", cbid..".tip")%> class="cbi-input-tip"
			<%- if cbid:match("cbid%.profile_dialplan%.[a-z0-9]+%.dialregex") or cbid:match("cbid%.profile_dialplan%.[a-z0-9]+%.digitmap") or cbid:match("cbid%.profile_number%.[a-z0-9]+%.calle[rd]$") then
				write(" style='display:none;width:20%;margin-left:20px;'")
			elseif cbid:match("cbid%.endpoint_sipphone%.[a-z0-9]+%.test") then
				write(" style='display:none;width:15%;margin-left:-10px;'")
			else
				write(" style='display:none'")
			end -%>>
			<div style="display:table-cell;vertical-align:middle;">
			<%
			if self.datatype:match("^range%(%d+%,%d+%)") then
				local min,max = self.datatype:match("(%d+)%,(%d+)")
				write(translate(tostring(datatype_tip)).." "..min.." - "..max)
			elseif self.datatype:match("min%(%d+%)") then
				local min = self.datatype:match("(%d+)")
				write(translate(tostring(datatype_tip)).." "..min)
			elseif self.datatype:match("max%(%d+%)") then
				local max = self.datatype:match("(%d+)")
				write(translate(tostring(datatype_tip)).." "..max)
			elseif self.datatype:match("dhcp_startaddress") or self.datatype:match("dhcp_endaddress") then
				local bit = require "bit"
				local util = require "luci.util"
				local ip,netmask = self.datatype:match("([0-9%.]+),([0-9%.]+)")

				local tmp_ip = util.split(ip,".")
				local tmp_netmask = util.split(netmask,".")
				local a1 = tostring(bit.band(tmp_ip[1],tmp_netmask[1]) or "")
				local a2 = tostring(bit.band(tmp_ip[2],tmp_netmask[2]) or "")
				local a3 = tostring(bit.band(tmp_ip[3],tmp_netmask[3]) or "")
				local a4 = tostring(bit.band(tmp_ip[4],tmp_netmask[4]) or "")
				local tips = a1.."."..(a2 == "0" and "XXX" or a2).."."..(a3 == "0" and "XXX" or a3).."."..(a4 == "0" and "XXX" or a4)

				write(translate(tostring(datatype_tip)).." "..(tips or ""))
			elseif "notempty" ~= self.datatype then
				write(translate(tostring(datatype_tip)))
			else
				write(translate(tostring(self.title)).." "..translate(tostring(datatype_tip)))
			end%>
			</div>
		</div>
		<%- end %>
	<%- end %>
<%- end -%>
</div>
<% if #self.deps > 0 or #self.subdeps > 0 then -%>
	<script type="text/javascript" id="cbip-<%=self.config.."-"..section.."-"..self.option%>">
		<% for j, d in ipairs(self.subdeps) do -%>
			cbi_d_add("cbi-<%=self.config.."-"..section.."-"..self.option..d.add%>", {
		<%-
			for k,v in pairs(d.deps) do
				local depk
				if k:find("!", 1, true) then
					depk = string.format('"%s"', k)
				elseif k:find(".", 1, true) then
					depk = string.format('"cbid.%s"', k)
				else
					depk = string.format('"cbid.%s.%s.%s"', self.config, section, k)
				end
		-%>
			<%-= depk .. ":" .. string.format("%q", v)-%>
			<%-if next(d.deps, k) then-%>,<%-end-%>
		<%-
			end
		-%>
			}, "cbip-<%=self.config.."-"..section.."-"..self.option..d.add%>");
		<%- end %>
		<% for j, d in ipairs(self.deps) do -%>
			cbi_d_add("cbi-<%=self.config.."-"..section.."-"..self.option..d.add%>", {
		<%-
			for k,v in pairs(d.deps) do
				local depk
				if k:find("!", 1, true) then
					depk = string.format('"%s"', k)
				elseif k:find(".", 1, true) then
					depk = string.format('"cbid.%s"', k)
				else
					depk = string.format('"cbid.%s.%s.%s"', self.config, section, k)
				end
		-%>
			<%-= depk .. ":" .. string.format("%q", v)-%>
			<%-if next(d.deps, k) then-%>,<%-end-%>
		<%-
			end
		-%>
			}, "cbip-<%=self.config.."-"..section.."-"..self.option..d.add%>");
		<%- end %>
	</script>
<%- end %>
