<%
	require "luci.fs"
	require "luci.model.network"
	local uci = require "luci.model.uci".cursor()
	local status = luci.http.formvalue("status")
	if "down" == status or "up" == status then
		local interface = luci.http.formvalue("interface") or ""
		os.execute("ubus call network.interface."..interface.." "..status)
	end
	local wan_info,lte_info,lan_info,wlan_info,netstat,dhcp,multi_wan_info = luci.model.network.get_netinfo()

	local memtotal, memcached, membuffers, memfree, bogomips, filesystem_total, filesystem_used, cpubusy = luci.sys.sysinfo()
	local cloud_status="Disabled"
	if fs.access("/tmp/cloud") then
		local enable = tonumber(uci:get("cloud","cloud","enable"))
		local pid = tonumber(luci.util.exec("pgrep cloud")) or 0
		local status = tostring(luci.fs.readfile("/tmp/cloud/status",5)) or " "
		if enable == 0 then
			cloud_status = "Disabled"
		elseif pid > 0 and status == "alive" then
			cloud_status = "Connected"
		elseif pid > 0 then
			cloud_status = "Disconnected"
		else
			cloud_status = "FAULT"
		end
	end
	if luci.http.formvalue("status") == "1" then
		local mem_used = memtotal - (memfree + membuffers + memcached)

		local rv = {
			localtime  = os.date("%Y-%m-%d %X"),
			mem_used = mem_used,
			filesystem_used = filesystem_used,
			cpubusy = cpubusy,
			netstat   = netstat,
			wan_info = wan_info,
			lte_info = lte_info,
			lan_info = lan_info,
			multi_wan_info = multi_wan_info,
			cloud_status = cloud_status,
		}

		luci.http.prepare_content("application/json")
		luci.http.write_json(rv)

		return
	end
-%>

<%+header%>

<script type="text/javascript" src="<%=resource_cbi_js%>"></script>
<script type="text/javascript">//<![CDATA[
var timeout = 0
var refresh_interval = 3
var mem_total = <%=memtotal%>
var fs_total = <%=filesystem_total%>
var netstat = new Object();
<% if wan_info then %>
netstat['wan']={rx_bytes:<%=netstat['wan']['rx_bytes']%>,tx_bytes:<%=netstat['wan']['tx_bytes']%>,rx_pkts:<%=netstat['wan']['rx_pkts']%>,tx_pkts:<%=netstat['wan']['tx_pkts']%>};
<% end %>
	<% if lte_info then %>
		netstat['lte']={rx_bytes:<%=netstat['lte']['rx_bytes']%>,tx_bytes:<%=netstat['lte']['tx_bytes']%>,rx_pkts:<%=netstat['lte']['rx_pkts']%>,tx_pkts:<%=netstat['lte']['tx_pkts']%>};
	<% end %>
netstat['lan']={rx_bytes:<%=netstat['lan']['rx_bytes']%>,tx_bytes:<%=netstat['lan']['tx_bytes']%>,rx_pkts:<%=netstat['lan']['rx_pkts']%>,tx_pkts:<%=netstat['lan']['tx_pkts']%>};
<% if wlan_info then %>
netstat['wlan']={rx_bytes:<%=netstat['wlan']['rx_bytes']%>,tx_bytes:<%=netstat['wlan']['tx_bytes']%>,rx_pkts:<%=netstat['wlan']['rx_pkts']%>,tx_pkts:<%=netstat['wlan']['tx_pkts']%>};
<% end %>
var uptime=<%=luci.sys.uptime()%>
window.onload = function(){window.setInterval("refresh()",1000)}
function add_zero(value){return (value >= 10)?value:("0"+value)}
function refresh_localtime()
{
	var v = document.getElementById("localtime").innerHTML
	v.match(/^([\d-]+) (\d+):(\d+):(\d+)$/)
	var date = RegExp.$1
	var h = parseInt(RegExp.$2,10)
	var m = parseInt(RegExp.$3,10)
	var s = parseInt(RegExp.$4,10)
	s+=1
	if(60==s){s=0;m+=1}
	if(60==m){m=0;h+=1}
	if(24==h){window.location.reload()}

	var buff = date + " " + add_zero(h) + ":" + add_zero(m) + ":" + add_zero(s)
	document.getElementById("localtime").innerHTML = buff
}
function refresh()
{
	refresh_localtime()
	refresh_time("uptime",uptime,"+")
	uptime+=1
}

function refresh_time(id,time_sec,method)
{
	if ("+" == method)
		time_sec = time_sec + 1
	else
		time_sec = time_sec - 1

	var d=(Math.floor(time_sec/(3600*24)))
	var h=(Math.floor(time_sec/3600)%24)
	var m=(Math.floor((time_sec%3600)/60))
	var s=(Math.floor(time_sec%60))

	var buff=""
	if(d>0)
		buff=d+' <%:d%> '+h+' <%:h%> '+m+' <%:m%> '+s+' <%:s%> ';
	else if(0==d&&h>0)
		buff=h+' <%:h%> '+m+' <%:m%> '+s+' <%:s%> ';
	else if(0==d&&0==h&&m>0)
		buff=m+' <%:m%> '+s+' <%:s%> ';
	else
		buff=s+' <%:s%>';
	document.getElementById(id).innerHTML = buff
}

function progressbar(v, m)
{
	var vn=parseInt(v,10)||0;
	var mn=parseInt(m,10)||100;
	var pc=Math.floor((100/mn)*vn);

	return String.format(
		'<div style="width:200px; position:relative; border:1px solid #999999">'+
			'<div style="background-color:#0099d6; width:%d%%; height:15px">'+
				'<div style="position:absolute; left:0; top:0; text-align:center; width:100%%; color:#000000">' +
					'<small>%s / %s (%d%%)</small>'+
				'</div>'+
			'</div>'+
		'</div>',pc,v,m,pc
	);
}
function refresh_network(btn,interface)
{
	var action="down"
	btn.disabled=true
	if("<%:Disconnect%>"==btn.value)
		btn.value="<%:Disconnecting...%>"
	else if("<%:Connect%>"==btn.value)
	{
		btn.value="<%:Connecting...%>"
		action="up"
	}
	XHR.get('<%=luci.dispatcher.build_url("admin","status","overview")%>',{status:action,interface:interface},function(x,info){})
}

	function refresh_netstat(info)
	{
		var i = new Array("lan")
		<% if wan_info then %>
			i.push("wan")
		<% end %>
		<% if lte_info then %>
			i.push("lte")
		<% end %>
		<% if wlan_info then %>
			i.push("wlan")
		<% end %>
		
		for(var j in i)
		{
			var rx_bytes_persec = Math.round((info[i[j]]['rx_bytes'] - netstat[i[j]]['rx_bytes']) / refresh_interval)
			var tx_bytes_persec = Math.round((info[i[j]]['tx_bytes'] - netstat[i[j]]['tx_bytes']) / refresh_interval)
			var rx_pkt_persec = Math.round((info[i[j]]['rx_pkts'] - netstat[i[j]]['rx_pkts']) / refresh_interval)
			var tx_pkt_persec = Math.round((info[i[j]]['tx_pkts'] - netstat[i[j]]['tx_pkts']) / refresh_interval)

			netstat[i[j]]['rx_bytes'] = info[i[j]]['rx_bytes'];
			netstat[i[j]]['tx_bytes'] = info[i[j]]['tx_bytes'];
			netstat[i[j]]['rx_pkts'] = info[i[j]]['rx_pkts'];
			netstat[i[j]]['tx_pkts'] = info[i[j]]['tx_pkts'];

			var rx_str = ""
			var tx_str = ""

			if (rx_bytes_persec < 1024)
				rx_str += String.format('%d <%:Bytes%> (%d <%:Pkts.%>)',rx_bytes_persec,rx_pkt_persec)
			else if (rx_bytes_persec >= 1024 && rx_bytes_persec <= 1024*1024)
				rx_str += String.format('%.2f KB (%d <%:Pkts.%>)',rx_bytes_persec/1024,rx_pkt_persec)
			else
				rx_str += String.format('%.2f MB (%d <%:Pkts.%>)',rx_bytes_persec/(1024*1024),rx_pkt_persec)

			if (tx_bytes_persec < 1024)
				tx_str += String.format('%d <%:Bytes%> (%d <%:Pkts.%>)',tx_bytes_persec,tx_pkt_persec)
			else if (tx_bytes_persec >= 1024 && tx_bytes_persec <= 1024*1024)
				tx_str += String.format('%.2f KB (%d <%:Pkts.%>)',tx_bytes_persec/1024,tx_pkt_persec)
			else
				tx_str += String.format('%.2f MB (%d <%:Pkts.%>)',tx_bytes_persec/(1024*1024),tx_pkt_persec)

			if (e = document.getElementById(i[j]+'_network_traffic'))
				e.innerHTML = rx_str + " / " + tx_str

			if (e = document.getElementById(i[j]+'_network_static'))
				e.innerHTML = String.format('%.2mB (%d <%:Pkts.%>) / %.2mB (%d <%:Pkts.%>)',netstat[i[j]]['rx_bytes'],netstat[i[j]]['rx_pkts'],netstat[i[j]]['tx_bytes'],netstat[i[j]]['tx_pkts']);
		}
	}
XHR.poll(refresh_interval, '<%=REQUEST_URI%>', {status:1},function(x, info){
	if (null == info)
	{
		timeout+=1
		if (timeout >= 3)
			document.location="<%=luci.dispatcher.get_srv_addr('current')%>"
	}
	else
		timeout=0

	var e;
	if (e=document.getElementById('cpu'))
		e.innerHTML=progressbar(info.cpubusy,100);
	if (e=document.getElementById('filesystem'))
		e.innerHTML=progressbar(info.filesystem_used + " kB",fs_total + " kB");
	if (e=document.getElementById('memtotal'))
		e.innerHTML=progressbar(info.mem_used + " kB", mem_total + " kB");
<% if wan_info and ("pppoe" == wan_info.proto or "dhcp" == wan_info.proto) then
	if "dhcp" == wan_info.proto then%>
		document.getElementById("wan_info.dhcpsrv").innerHTML=info.wan_info.lease_server
<%	end%>
	document.getElementById("wan_info.ipaddr").innerHTML=info.wan_info.ipaddr
	document.getElementById("wan_info.netmask").innerHTML=info.wan_info.netmask
	document.getElementById("wan_info.gateway").innerHTML=info.wan_info.gateway
	document.getElementById("wan_info.dns").innerHTML=info.wan_info.dns
	if(info.wan_info.status)
	{
		e = document.getElementById("wan_info.btn")
		e.style.display=""
		if("disconnected"==info.wan_info.status&&"<%:Connecting...%>"!=e.value)
		{
			e.value="<%:Connect%>"
			e.disabled=false
		}
		else if("connected"==info.wan_info.status&&"<%:Disconnecting...%>"!=e.value)
		{
			e.value="<%:Disconnect%>"
			e.disabled=false
		}
		else if("connecting"==info.wan_info.status)
		{
			e.value="<%:Connecting...%>"
			e.disabled=false
		}
	}
<% elseif not wan_info and lan_info and ("pppoe" == lan_info.proto or "dhcp" == lan_info.proto) then 
	if "dhcp" == lan_info.proto then%>
		document.getElementById("lan_info.dhcpsrv").innerHTML=info.lan_info.lease_server
<%	end%>
	document.getElementById("lan_info.ipaddr").innerHTML=info.lan_info.ipaddr
	document.getElementById("lan_info.netmask").innerHTML=info.lan_info.netmask
	document.getElementById("lan_info.gateway").innerHTML=info.lan_info.gateway
	document.getElementById("lan_info.dns").innerHTML=info.lan_info.dns
	if(info.lan_info.status)
	{
		e = document.getElementById("lan_info.btn")
		if("disconnected"==info.lan_info.status&&"<%:Connecting...%>"!=e.value)
		{
			e.value="<%:Connect%>"
			e.disabled=false
		}
		else if("connected"==info.lan_info.status&&"<%:Disconnecting...%>"!=e.value)
		{
			e.value="<%:Disconnect%>"
			e.disabled=false
		}
		else if("connecting"==info.lan_info.status)
		{
			e.value="<%:Connecting...%>"
			e.disabled=true
		}
	}
<% end %>
<% if luci.version.license and luci.version.license.lte and lte_info then %>
	function convert_str(param)
	{
		switch(param)
		{
			case "MODULE_UPDATING":
				return "<%:Upgrading%>"
			case "CONFIGERING":
				return "<%:Configering%>"
			case "READY":
				return "<%:READY%>"
			case "FAULT":
				return "<%:READY%>"
			case "SIMPIN_NOT_INSERTED":
				return "<%:SIM Not Inserted%>"
			case "SIMPIN_READY":
				return "<%:OK%>"
			case "SIMPIN_ERROR":
				return "<%:FAULT%>"
			case "SIMPIN_PIN":
				return "<%:PIN Required%>"
			case "SIMPIN_PUK":
				return "<%:PUK Required%>"
			case "Not Config":
				return "<%:Not Config%>"
			default:
				return "UNKNOWN";
		}
	}
	if(info.lte_info)
	{
		document.getElementById("lte_info.module").innerHTML=convert_str(info.lte_info.module)
		document.getElementById("lte_info.sim").innerHTML=convert_str(info.lte_info.sim)
		document.getElementById("lte_info.mode").innerHTML=info.lte_info.mode
		document.getElementById("lte_info.carrier").innerHTML=info.lte_info.carrier
		document.getElementById("lte_info.signal").style.backgroundImage="url(\/luci-static\/resources\/signal"+info.lte_info.signal+".png)"
	}
	if(info.multi_wan_info)
	{
		var wan_title="<%:WAN Network%>"
		var lte_title="<%:LTE Network%>"
		if("LTE" == info.multi_wan_info.curr_uplink)
		{
			if (info.lte_info)
				document.getElementById("lte_network_title").innerHTML=lte_title+" / "+info.multi_wan_info.lte_status+" / <%:Current Uplink Interface%>"
			if (info.wan_info)
				document.getElementById("wan_network_title").innerHTML=wan_title+" / "+info.multi_wan_info.wan_status
		}
		else
		{
			if (info.lte_info)
				document.getElementById("lte_network_title").innerHTML=lte_title+" / "+info.multi_wan_info.lte_status
			if (info.wan_info)
				document.getElementById("wan_network_title").innerHTML=wan_title+" / "+info.multi_wan_info.wan_status+" / <%:Current Uplink Interface%>"
		}
	}
<% end %>
	e=document.getElementById('cloud')
	if (info.cloud_status == "Disabled")
		e.innerHTML="<%:Disabled%>"
	else if (info.cloud_status === "Connected")
		e.innerHTML="<%:Connected%>"
	else if (info.cloud_status == "Disconnected")
		e.innerHTML="<%:Disconnected%>"
	else if (info.cloud_status == "FAULT")
		e.innerHTML="<%:FAULT%>"
	refresh_netstat(info.netstat)

}
);
//]]></script>
<h1>test the tetst the testa</h1>
<div style="position:relative;left:10px;top:10px;width:480px;float:left;height:230px;">
<fieldset class="cbi-section" style="border-buttom:;">
	<legend><%:System%></legend>
	<table width="100%" cellspacing="10" class="info">
		<tr><td width="30%"><%:Device Model%></td><td><%=pcdata(luci.version.model)%></td></tr>
		<tr><td><%:Device SN%></td><td><%=pcdata(luci.version.sn)%></td></tr>
		<tr><td><%:Hardware ID%></td><td><%=pcdata(luci.version.hard_id)%></td></tr>
		<tr><td><%:Firmware Version%></td><td><%=pcdata(luci.version.firmware_ver)%></td></tr>
		<tr><td><%:Local Time%></td><td id="localtime"><%=os.date("%Y-%m-%d %X")%></td></tr>
		<tr><td><%:Uptime%></td><td id="uptime">-</td></tr>
		<tr><td><%:Cloud Server%></td><td id="cloud">-</td></tr>
	</table>
</fieldset>
</div>
<div style="position:relative;left:10px;top:10px;width:480px;float:left;height:230px;">
<fieldset class="cbi-section" style="border-buttom:;">
	<legend><%:Performance%></legend>
	<table width="100%" cellspacing="10" class="info">
		<tr><td width="30%"><%:CPU%></td><td id="cpu">-</td></tr>
		<tr><td><%:Filesystem%></td><td id="filesystem">-</td></tr>
		<tr><td><%:Memory%></td><td id="memtotal">-</td></tr>
	</table>
</fieldset>
</div>
<% if wan_info then %>
<div style="position:relative;left:10px;top:10px;width:480px;float:left;">
<fieldset class="cbi-section" style="border-buttom:;">
	<legend id='wan_network_title'><%:WAN Network%></legend>
	<table width="100%" cellspacing="10" class="info">
		<tr><td width="30%"><%:MAC Address%></td><td width="30%"><%=string.gsub(string.upper(wan_info.macaddr or ""),":","-")%></td><td width="40%"></td></tr>
		<tr><td><%:Type%></td><td colspan="2"><%=translate(wan_info.proto or "")%></td></tr>
	<% if "dhcp" == wan_info.proto then%>
		<tr id="dhcpserver"><td><%:DHCP Server%></td><td colspan="2" id="wan_info.dhcpsrv"><%=wan_info.lease_server or ""%></td></tr>
	<% end %>
		<tr><td><%:IP Address%></td><td id="wan_info.ipaddr"><%=wan_info.ipaddr or ""%></td><td style="padding:0px 0px 0px;"><input id="wan_info.btn" type="button" class="cbi-button cbi-button-apply" style="padding:4px 12px;display:none;" value="" onclick="return refresh_network(this,'wan')"></td></tr>
		<tr><td><%:Netmask%></td><td colspan="2" id="wan_info.netmask"><%=wan_info.netmask or ""%></td></tr>
		<tr><td><%:Gateway%></td><td colspan="2" id="wan_info.gateway"><%=wan_info.gateway or ""%></td></tr>
		<tr><td><%:DNS%></td><td colspan="2" id="wan_info.dns"><%=wan_info.dns or ""%></td><td></td></tr>
		<tr><td><%:RX / TX (Per Second)%></td><td colspan="2" id="wan_network_traffic"></td></tr>
		<tr><td><%:RX / TX (Total)%></td><td colspan="2" id="wan_network_static"></td></tr>
	</table>
</fieldset>
</div>
<% end %>
<% if luci.version.license and luci.version.license.lte and lte_info then %>
<div style="position:relative;left:10px;top:10px;width:480px;float:left;height:335px;">
<fieldset class="cbi-section" style="border-buttom:;">
	<legend id='lte_network_title'><%:LTE Network%></legend>
	<table width="100%" cellspacing="10" class="info">
		<tr><td><%:Module%></td><td id="lte_info.module"><%=lte_info.module or "Unknown"%></td></tr>
		<tr><td><%:SIM Card%></td><td id="lte_info.sim"><%=lte_info.sim or "Unknown"%></td></tr>
		<tr><td><%:Mode%></td><td id="lte_info.mode"><%=lte_info.mode or ""%></td></tr>
		<tr><td><%:Carrier%></td><td id="lte_info.carrier"><%=lte_info.carrier or ""%></td></tr>
		<tr><td><%:Signal%></td><td id="lte_info.signal" style='background-image:url(\/luci-static\/resources\/signal<%=lte_info.signal%>.png); background-repeat:no-repeat;background-position:left;'></td></tr>
		<tr><td><%:IP Address%></td><td id="lte_info.ipaddr"><%=lte_info.ipaddr or ""%></td></tr>
		<tr><td><%:DNS%></td><td id="lte_info.dns"><%=lte_info.dns or ""%></td></tr>
		<tr><td><%:RX / TX (Per Second)%></td><td id="lte_network_traffic"></td></tr>
		<tr><td><%:RX / TX (Total)%></td><td id="lte_network_static"></td></tr>
	</table>
</fieldset>
</div>
<% end %>
<div style="position:relative;left:10px;top:4px;width:480px;float:left;height:335px;">
<fieldset class="cbi-section" style="border-buttom:;">
	<legend><%:LAN Network%></legend>
	<table width="100%" cellspacing="10" class="info">
		<tr><td width="30%"><%:MAC Address%></td><td width="30%"><%=string.gsub(string.upper(lan_info.macaddr or ""),":","-")%></td><td width="40%"></td></tr>
		<tr><td><%:Type%></td><td colspan="2"><%=translate(lan_info.proto or "")%></td></tr>
<% if "dhcp" == lan_info.proto then%>
		<tr id="dhcpserver"><td><%:DHCP Server%></td><td id="lan_info.dhcpsrv" colspan="2"><%=lan_info.lease_server or ""%></td></tr>
<% end %>
<% if "pppoe" == lan_info.proto then%>
		<tr><td><%:IP Address%></td><td id="lan_info.ipaddr"><%=lan_info.ipaddr or ""%></td><td style="padding:0px 0px 0px;"><input id="lan_info.btn" type="button" class="cbi-button cbi-button-apply" style="padding:4px 12px;" value="<%:Disconnect%>" onclick="return refresh_network(this,'lan')"></td></tr>
<% else %>
		<tr><td><%:IP Address%></td><td id="lan_info.ipaddr" colspan="2"><%=lan_info.ipaddr or ""%></td></tr>
<% end %>
		<tr><td><%:Netmask%></td><td id="lan_info.netmask" colspan="2"><%=lan_info.netmask or "255.255.255.255"%></td></tr>
<% if not wan_info then %>
		<tr><td><%:Gateway%></td><td id="lan_info.gateway" colspan="2"><%=lan_info.gateway or ""%></td></tr>
		<tr><td><%:DNS%></td><td id="lan_info.dns"><%=lan_info.dns or ""%></td></tr>
<% end %>
		<tr><td><%:RX / TX (Per Second)%></td><td id="lan_network_traffic" colspan="2"></td></tr>
		<tr><td><%:RX / TX (Total)%></td><td id="lan_network_static" colspan="2"></td></tr>
	</table>
</fieldset>
</div>
<% if wlan_info then %>
<div style="position:relative;left:10px;top:4px;width:480px;float:left;">
<fieldset class="cbi-section" style="border-buttom:;">
	<legend><%:WIFI Network%></legend>
	<table width="100%" cellspacing="10" class="info">
		<tr><td  width="30%"><%:MAC Address%></td><td><%=string.gsub(string.upper(wlan_info.mac_addr or "00:00:00:00:00:00"),":","-")%></td></tr>
		<tr><td><%:SSID%></td><td><%=wlan_info.ssid or ""%></td></tr>
		<tr><td><%:Channel%></td><td><%=wlan_info.channel or ""%></td></tr>
		<tr><td><%:Encryption%></td><td><%=translate(string.upper(wlan_info.encrypt or "Unknown"))%></td></tr>
		<tr><td><%:RX / TX (Per Second)%></td><td id="wlan_network_traffic" colspan="3"></td></tr>
		<tr><td><%:RX / TX (Total)%></td><td id="wlan_network_static" colspan="3"></td></tr>
	</table>
</fieldset>
</div>
<% end %>

<% if wan_info and luci.version.license and (not luci.version.license.lte) then %>
<div style="position:relative;left:10px;top:4px;width:480px;float:left;">
<fieldset class="cbi-section" style="border-buttom:;">
	<legend><%:DHCP Server%></legend>
	<table width="100%" cellspacing="10" class="info">
		<tr><td  width="30%"><%:Status%></td><td><%=dhcp.status%></td></tr>
		<tr><td><%:Start Address%></td><td><%=dhcp.startaddr%></td></tr>
		<tr><td><%:End Address%></td><td><%=dhcp.endaddr%></td></tr>
		<tr><td><%:Gateway%></td><td><%=dhcp.gateway or ""%></td></tr>
		<tr><td><%:Expires%></td><td><%=dhcp.expires or ""%></td></tr>
		<tr><td><%:DNS%></td><td><%=dhcp.dns or ""%></td></tr>
	</table>
</fieldset>
</div>
<%end%>
<%+footer%>
