<%
	local dsp = require "luci.dispatcher"
	if luci.http.formvalue("cancel") then
		luci.http.redirect(dsp.build_url("admin","wizard","vpn"))
		return
	elseif luci.http.formvalue("continue") then
		luci.http.redirect(dsp.build_url("admin","status","overview"))
		return
	end
-%>

<%+header%>
<% if changes and upgrading then
	write("<div class='container'><div class='alert-message info'>"..translate("Can not apply changes while system upgrading ! Please wait !").."<br></div></div>")
end %>
<h2><a id="content" name="content"><%:Configuration / Changes%></a></h2>
<% if changes then %>
	<%+admin_uci/changelog%>
	<%- uci_changelog(changes) -%>
<% else
	write("<p><strong>"..translate("There are no pending changes !").."</strong></p>")
end %>
<div class="cbi-page-actions">
	<form name="form" method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
		<input class="cbi-button" id="prev" type="submit" name="cancel" style="width:80px;" value="后退"/>
		<input class="cbi-button" <%=changes and 'disabled="disabled"' or ''%> id="next" type="submit" name="continue" style="width:80px;" value="退出向导"/>
	</form>
</div>

<%+footer%>
