<%
	local uci = require "luci.model.uci".cursor()
	local fs_server = require "luci.scripts.fs_server"
	local wireless_tb = fs_server.get_wifi_list() or {}
	local ssid_list = {}
	local current_ssid = self:cfgvalue(sectin) or ""
%>

<%+cbi/valueheader%>
<div>
<input type="text" class="cbi-input-text" onchange="check_ssid();cbi_d_update(this.id)"<%=
	attr("name", cbid) .. attr("id", cbid) .. attr("value", current_ssid)%> />
<img id="signal" src="<%=resource%>/signal0.png" style="vertical-align:middle;margin-left:-8px;" title="<%:Signal Strength%>"/>
<% if #self.keylist > 0 or self.datatype then -%>
<script type="text/javascript" src="<%=resource%>/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
	var g_ssid_list = new Object()
	var g_ssid_number = 0
	var g_signal_list = new Object()
	var g_encryption_list = new Object()
	<%  for k,v in ipairs(wireless_tb) do
			if v['.type'] == "wifi" and v.ssid and not ssid_list[v.ssid] then
				ssid_list[v.ssid] = 1
			end %>
			g_ssid_list['<%=v.ssid%>']='<%=v.ssid%>'; g_signal_list['<%=v.ssid%>']='<%=v.signal%>'; g_encryption_list['<%=v.ssid%>']='<%=v.encryption%>'; g_ssid_number += 1;<% 
		end %>

	function change_encryption_view(encryption)
	{
		var ret = ""

		if (encryption.indexOf('WPA2') >= 0)
			ret = "psk2"
		else if (encryption.indexOf('WPA1') >= 0)
			ret = "psk"
		else if (encryption.indexOf('NONE') >= 0)
			ret = "none"
		else
			ret = "psk2"

		return ret
	}

	function refresh_wifi()
	{
		$("#btn-ssid").val("刷新中...")
		$("#btn-ssid").attr("disabled","disabled")
		XHR.get('<%=luci.dispatcher.build_url("admin","wizard","wifilist")%>',{action:"refresh"},function(x, info) {
			if (info != null) {
				var id
				g_ssid_list = new Object()
				g_ssid_number = 0
				g_signal_list = new Object()
				g_encryption_list = new Object()

				for (i=0;i<info.length;i++) {
					if (!g_ssid_list[info[i]["ssid"]]) {
						g_ssid_list[info[i]["ssid"]] = info[i]["ssid"]
						g_signal_list[info[i]["ssid"]] = info[i]["signal"]
						g_encryption_list[info[i]["ssid"]] = info[i]["encryption"]
						g_ssid_number += 1
					}
				}

				id = document.getElementById('cbi.combobox.cbid.network_tmp.network.wifi_ssid')
				if (id != null)
					id.parentNode.removeChild(id);

				if (g_ssid_number > 0){
					cbi_combobox_init('<%=cbid%>', g_ssid_list, '', '<%-: -- Please choose -- -%>', '<%-: -- custom -- -%>');
					$("#cbi\\.combobox\\.cbid\\.network_tmp\\.network\\.wifi_ssid").unbind("change", check_ssid)
					$("#cbi\\.combobox\\.cbid\\.network_tmp\\.network\\.wifi_ssid").bind("change", check_ssid)
					$("#cbid\\.network_tmp\\.network\\.wifi_ssid").unbind("blur", combobox_bind_blur)
					$("#cbid\\.network_tmp\\.network\\.wifi_ssid").bind("blur", combobox_bind_blur)
					check_ssid()
				}
				$("#btn-ssid").val("刷新列表")
				$("#btn-ssid").removeAttr("disabled")
			}
		})
	}

	function combobox_bind_blur()
	{
		$("#cbi\\.combobox\\.cbid\\.network_tmp\\.network\\.wifi_ssid").unbind("change", check_ssid)
		$("#cbi\\.combobox\\.cbid\\.network_tmp\\.network\\.wifi_ssid").bind("change", check_ssid)
	}

	function check_ssid()
	{
		var ssid_id = document.getElementById('cbi.combobox.cbid.network_tmp.network.wifi_ssid')
		var sig_id = document.getElementById('signal')
		var enc_id = document.getElementById('cbid.network_tmp.network.wifi_encryption')
		if (!ssid_id)
			ssid_id = document.getElementById('cbid.network_tmp.network.wifi_ssid')

		if (ssid_id) {
			var signal = g_signal_list[ssid_id.value]
			var encryption = g_encryption_list[ssid_id.value]

			if (!encryption) {
				encryption = "psk2"
			} else {
				encryption = change_encryption_view(encryption)
			}
			$("#cbid\\.network_tmp\\.network\\.wifi_encryption").val(encryption)

			if (!signal) {
				signal = 0
			} else {
				if (signal.indexOf("%") >= 0) {
					signal = signal.replace(/[^0-9]/g,"")
					signal = Number(signal)
				} else {
					signal = signal.replace(/[^0-9]/g,"")
					signal = Number(signal)
					if (signal <= 50)
						signal = 100;
					else if (signal <= 80)
						signal = 24 + (80 - signal) * 26 / 10;
					else if (signal <= 90)
						signal = (90 - signal) * 26 / 10;
					else
						signal = 1;
				}
			}
			if (signal > 0 && signal <= 20)
				sig_id.src = "/luci-static/resources/signal1.png"
			else if (signal >= 21 && signal <= 40)
				sig_id.src = "/luci-static/resources/signal2.png"
			else if (signal >= 41 && signal <= 60)
				sig_id.src = "/luci-static/resources/signal3.png"
			else if (signal >= 61 && signal <= 80)
				sig_id.src = "/luci-static/resources/signal4.png"
			else if (signal >= 81 && signal <= 100)
				sig_id.src = "/luci-static/resources/signal5.png"
			else
				sig_id.src = "/luci-static/resources/signal0.png"
		} else {
			sig_id.src = "/luci-static/resources/signal0.png"
			$("#cbid\\.network_tmp\\.network\\.wifi_encryption").val(encryption)
		}
		cbi_d_update("cbid.network_tmp.network.wifi_encryption")
	}

	if (g_ssid_number > 0){
		cbi_combobox_init('<%=cbid%>', g_ssid_list, '', '<%-: -- Please choose -- -%>', '<%-: -- custom -- -%>');
		$("#cbi\\.combobox\\.cbid\\.network_tmp\\.network\\.wifi_ssid").bind("change", check_ssid)
	}

	$("#cbid\\.network_tmp\\.network\\.wifi_ssid").bind("blur",function() {
		$("#cbi\\.combobox\\.cbid\\.network_tmp\\.network\\.wifi_ssid").unbind("change", check_ssid)
		$("#cbi\\.combobox\\.cbid\\.network_tmp\\.network\\.wifi_ssid").bind("change", check_ssid)
	})
	check_ssid()
	<% if self.datatype then -%>
	cbi_validate_field('<%=cbid%>', <%=tostring((self.optional or self.rmempty) == true)%>, '<%=self.datatype%>');
	<%- end %>
</script>
<% end -%>
</div>
<div><input type="button" class="cbi-button" id="btn-ssid" style="padding:5px 10px;margin:10px 0 -7px 0;" value="刷新列表" onclick="refresh_wifi();" /></div>
<%+cbi/valuefooter%>
