<%
	local uci_tmp = require "luci.model.uci".cursor("/tmp/config")
	local uci = require "luci.model.uci".cursor()
	local dsp = require "luci.dispatcher"
	local fs = require "nixio.fs"
	local util = require "luci.util"
	local vpn_type

	if not fs.access("/tmp/config/wizard") then
		util.exec("touch /tmp/config/wizard")
	end

	if luci.http.formvalue("cancel") then
		luci.http.redirect(dsp.build_url("admin","wizard","ddns"))

		return
	elseif luci.http.formvalue("save") then
		vpn_type = luci.http.formvalue("vpn")

		if vpn_type then
			uci_tmp:set("wizard","globals","vpntype",vpn_type)
			if vpn_type == "disabled" then
				uci:set("xl2tpd","main","enabled","0")
				uci:set("pptpc","main","enabled","0")
				uci:set("openvpn","custom_config","enabled","0")
				uci:save("xl2tpd")
				uci:save("pptpc")
				uci:save("openvpn")
			end
		else
			uci_tmp:set("wizard","vpn","vpntype","disabled")
		end

		uci_tmp:set("wizard")
		uci_tmp:commit("wizard")

		if vpn_type then
			if vpn_type == "l2tp" then
				luci.http.redirect(dsp.build_url("admin","wizard","l2tp"))
			elseif vpn_type == "pptp" then
				luci.http.redirect(dsp.build_url("admin","wizard","pptp"))
			elseif vpn_type == "openvpn" then
				luci.http.redirect(dsp.build_url("admin","wizard","openvpn"))
			else
				luci.http.redirect(dsp.build_url("admin","uci","changes"))
			end
		end

		return
	else
		vpn_type = uci_tmp:get("wizard","globals","vpntype")
		if not vpn_type then
			if uci:get("xl2tpd","main","enabled") == "1" then
				vpn_type = "l2tp"
			elseif uci:get("pptpc","main","enabled") == "1" then
				vpn_type = "pptp"
			elseif uci:get("openvpn","default","enabled") == "1" then
				vpn_type = "openvpn"
			else
				vpn_type = "disabled"
			end
		end
	end
-%>

<%+header%>
<style type="text/css">
table td {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
table {table-layout:fixed;}
.description {
	border: 1px solid;
	padding: 15px 30px;
}
.line {
	white-space: normal;
	text-align: left;
	text-indent: 2em;
	margin-bottom: 0;
	margin-left: 0;
	line-height: 16px;
	font-size: 14px;
}
</style>
<h2><a id="content" name="content">VPN客户端选择</a></h2>
<fieldset>
	<div class="description">
		<p class="line">此处可选择是否启动VPN客户端，启动VPN可以实现通话数据加密。</p>
		<br/>
		<p class="line">本设备支持“PPTP”、“L2TP”、“OpenVPN” 三种客户端连接方式。</p>
	</div>

	<form name="form" method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
		<div class="cbi-section-node">
			<div class="cbi-value">
				<div class="cbi-value-title">
					<label style="margin-left:0px;">请选择要使用的VPN客户端</label>
				</div>
				<div class="cbi-value-field">
					<select class="cbi-input-select" id="vpn" name="vpn">
						<option value="disabled" <%=vpn_type == "disabled" and "selected" or ""%> >禁用</option>
						<option value="l2tp" <%=vpn_type == "l2tp" and "selected" or ""%> >L2TP</option>
						<option value="pptp" <%=vpn_type == "pptp" and "selected" or ""%> >PPTP</option>
						<option value="openvpn" <%=vpn_type == "openvpn" and "selected" or ""%> >OpenVPN</option>
					</select>
				</div>
			</div>

			<div class="cbi-value cbi-value-last">
				<div class="cbi-value-title">
					<label style="margin-left:0px;"></label>
				</div>
				<div class="cbi-page-actions">
					<input class="cbi-button" id="prev" type="submit" name="cancel" value="后退"/>
					<input class="cbi-button cbi-button-save" id="next" type="submit" name="save" value="继续"/>
					<input class="cbi-button" type="reset" value="重置"/>
				</div>
			</div>
		</div>
	</form>
</fieldset>
<%+footer%>
