<%
	local freeswitch = require "luci.scripts.fs_server"
	local uci = require "luci.model.uci".cursor()
 
	if luci.http.formvalue("status") == "1" then
		local sip_profile_status,sip_gw_status,sip_user_status = freeswitch.sip_status()

		local sip_info = {
			gw = {}, profile = {},
		}
		
		sip_info.gw = sip_gw_status
		sip_info.profile = sip_profile_status
		sip_info.user = sip_user_status

		luci.http.prepare_content("application/json")
		luci.http.write_json(sip_info)

		return
	end
-%>
<%+header%>
<style type="text/css">
table td {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
table {table-layout:fixed;}
</style>
<script type="text/javascript" src="<%=resource_cbi_js%>"></script>
<script type="text/javascript" src="<%=resource%>/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
var timeout = 0
function add_zero(value)
{
	return (value > 10) ? value : ("0" + value)
}
function refresh_status()
{
	$("table#profile tr").each(function(){
		var state_obj = $(this).find("td[id^='profile.state']")
		var state = state_obj.text()
		if("" != state)
		{
			var addr_obj = $(this).find("td[id^='profile.localip']")
			var addr = addr_obj.text()
			if('RUNNING' == state && -1 == addr.indexOf('127.0.0.1'))
			{
				state_obj.css("background","#74ea7d")
				$(state_obj).text("<%=translate('RUNNING')%>")
			}
			else if('RUNNING' == state && addr.indexOf('127.0.0.1') >=0 )
			{
				state_obj.css("background","#fe5a56")
				$(state_obj).text("<%=translate('FAULT')%>")
			}
			else
			{
				state_obj.css("background","#fe5a56")
				if(addr.indexOf('127.0.0.1') >= 0)
					addr_obj.css("background","#fe5a56")
			}
		}
	});
	
	$("table#gateway td[id^='trunk.status']").each(function(){
		var state = $(this).text()
		if("" != state)
		{
			if(state.indexOf('UP') >= 0)
				$(this).css("background","#74ea7d")
			else
				$(this).css("background","#fe5a56")
		}
		if("REGED/UP" == state)
			$(this).text("<%=translate('REGED/UP')%>")
		if("NOREG/UP" == state)
			$(this).text("<%=translate('NOREG/UP')%>")
		if("NOREG/DOWN" == state)
			$(this).text("<%=translate('NOREG/DOWN')%>")
		if("TRYING/DOWN" == state)
			$(this).text("<%=translate('TRYING/DOWN')%>")
		if("FAILED/DOWN" == state)
			$(this).text("<%=translate('FAILED/DOWN')%>")
		if(state.indexOf("FAIL_WAIT") >= 0)
			$(this).text("<%=translate('FAIL_WAIT')%>")
	});

	$("table#gateway td[id^='user.status']").each(function(){
		var state = $(this).text()
		if("" != state)
		{
			if(state.indexOf('Registered') >= 0)
				$(this).css("background","#74ea7d")
			else
				$(this).css("background","")
		}
		if(state.indexOf("Registered") >= 0)
			$(this).text(state.replace("Registered","<%=translate('Registered')%>"))
		if("Unregistered" == state)
			$(this).text("<%=translate('Unregistered')%>")
	});
}
XHR.poll(5, '<%=REQUEST_URI%>', { status: 1 },
	function(x, info)
	{
		if (null == info)
		{
			timeout += 1
			if (timeout >= 3)
				document.location = document.location.protocol+"//"+document.location.host
		}
		else
		{
			timeout = 0
		}

		$.each(info.profile,function(key,val){
			$("td#profile\\.localip\\."+val.name).text(val.data)
			$("td#profile\\.state\\."+val.name).text(val.state)
			$("td#profile\\.currcall\\."+val.name).text(val.call)
			$("td#profile\\.callin\\."+val.name).text(val.callin_fail+"/"+val.callin)
			$("td#profile\\.callout\\."+val.name).text(val.callout_fail+"/"+val.callout)
		});
		$.each(info.gw,function(key,val){
			$("td#trunk\\.status\\."+val.name).text(val.state+"/"+val.status)
			$("td#trunk\\.callin\\."+val.name).text(val.callin_fail+"/"+val.callin)
			$("td#trunk\\.callout\\."+val.name).text(val.callout_fail+"/"+val.callout)
		});
		$.each(info.user,function(key,val){
			$("td#user\\.from\\."+val.user).text(val.from)
			$("td#user\\.status\\."+val.user).text(val.status)
			$("td#user\\.exp\\."+val.user).text(val.exp)
			$("td#user\\.agent\\."+val.user).text(val.agent)
		});
		refresh_status()
	}
);
</script>
<h2><a id="content" name="content"><%:Status / SIP%></a></h2>
<fieldset class="cbi-section">
	<legend><%:Profile%></legend>
	<table id="profile" class="cbi-section-table">
		<tbody>
			<tr class="cbi-section-table-titles">
				<th><%:Index%></th>
				<th><%:Name%></th>
				<th><%:Listening Addr%></th>
				<th><%:State%></th>
				<th><%:Current Call%></th>
				<th><%:Call In(F/T)%></th>
				<th><%:Call Out(F/T)%></th>
			</tr>
<%
	local sip_profile = uci:get_all("profile_sip") or {}
	local MAX_SIP_PROFILE = tonumber(uci:get("profile_param","global","max_sip_profile") or '16')
	if sip_profile then
		for i=1,MAX_SIP_PROFILE do
			 for k,v in pairs(sip_profile) do
				local str = ""
				if tonumber(v.index) == i and v.index and v.name then
					if i%2 == 1 then
						str = str.."<tr class=cbi-rowstyle-odd>"
					else
						str = str.."<tr class=cbi-rowstyle-even>"
					end
					str = str.."<td>"..v.index.."</td>"
					str = str.."<td>"..v.name.."</td>"
					str = str.."<td id=profile.localip."..v.index..">localip:"..v.localport.."</td>"
					str = str.."<td id=profile.state."..v.index..">"..translate("Unknown").."</td>"
					str = str.."<td id=profile.currcall."..v.index..">0</td>"
					str = str.."<td id=profile.callin."..v.index..">0/0</td>"
					str = str.."<td id=profile.callout."..v.index..">0/0</td></tr>"
					write(str)
				end
			 end
		end
	end
%>
		</tbody>
	</table>
</fieldset>
<fieldset class="cbi-section">
	<legend><%:SIP Trunk%></legend>
	<table id="gateway" class="cbi-section-table">
		<colgroup>
			<col style='width:5%'>
			<col style='width:15%'>
			<col style='width:15%'>
			<col style='width:5%'>
			<col style='width:10%'>
			<col style='width:10%'>
			<col style='width:10%'>
			<col style='width:10%'>
			<col style='width:10%'>
			<col style='width:10%'>
		</colgroup>
		<tbody>
			<tr class="cbi-section-table-titles">
				<th><%:Index%></th>
				<th><%:Name%></th>
				<th><%:Address%></th>
				<th><%:Transport%></th>
				<th><%:Reg%></th>
				<th><%:Heartbeat%></th>
				<th><%:Status%></th>
				<th><%:Call In(F/T)%></th>
				<th><%:Call Out(F/T)%></th>
				<th><%:Profile%></th>
			</tr>
<%
	local sip_trunk = uci:get_all("endpoint_siptrunk") or {}
	local MAX_SIP_TRUNK = tonumber(uci:get("profile_param","global","max_sip_trunk") or '32')
	if sip_trunk then
		for i=1,MAX_SIP_TRUNK do
			 for k,v in pairs(sip_trunk) do
				local str = ""
				if tonumber(v.index) == i and v.index and v.name then
					if i%2 == 1 then
						str = str.."<tr class=cbi-rowstyle-odd>"
					else
						str = str.."<tr class=cbi-rowstyle-even>"
					end
					str = str.."<td>"..v.index.."</td>"
					str = str.."<td>"..v.name.."</td>"
					if v.username then
						str = str.."<td>"..v.username.."@"..(v.ipv4 or "")..":"..(v.port or "5060").."</td>"
					else
						str = str.."<td>"..(v.ipv4 or "")..":"..(v.port or "").."</td>"
					end
					str = str.."<td>"..translate(v.transport).."</td>"
					str = str.."<td>"..translate(v.register).."</td>"
					if v.heartbeat == "on" and v.ping then
						str = str.."<td>"..v.ping.."</td>"
					else
						str = str.."<td>"..translate(v.heartbeat).."</td>"
					end
					if "Disabled" == v.status then
						str = str.."<td id=trunk.status."..v.index..">"..translate("Disabled").."</td>"
					else
						str = str.."<td id=trunk.status."..v.index..">"..translate("Unknown").."</td>"
					end
					str = str.."<td id=trunk.callin."..v.index..">0/0</td>"
					str = str.."<td id=trunk.callout."..v.index..">0/0</td>"
					local sip_profile = uci:get_all("profile_sip") or {}
					local flag = false
					for x,y in pairs(sip_profile) do
						if y.index == v.profile then
							str = str.."<td>"..v.profile.."-&lt;"..y.name.."&gt;</td></tr>"
							flag = true
						end
					end
					if false == flag then
						str = str.."<td>"..translate("Not Config").."</td>"
					end
					write(str)
				end
			 end
		end
	end
%>
		</tbody>
	</table>
</fieldset>

<fieldset class="cbi-section">
	<legend><%:SIP Extension%></legend>
	<table id="gateway" class="cbi-section-table">
		<colgroup>
			<col style='width:5%'>
			<col style='width:8%'>
			<col style='width:8%'>
			<col style='width:15%'>
			<col style='width:10%'>
			<col style='width:10%'>
			<col style='width:30%'>
			<col style='width:14%'>
		</colgroup>
		<tbody>
			<tr class="cbi-section-table-titles">
				<th><%:Index%></th>
				<th><%:Name%></th>
				<th><%:Extension%></th>
				<th><%:Register Source%></th>
				<th><%:Status%></th>
				<th><%:Expires%></th>
				<th><%:Agent%></th>
				<th><%:Profile%></th>
			</tr>
<%
	local sip_user = uci:get_all("endpoint_sipphone")
	local MAX_SIP_EXTENSION = tonumber(uci:get("profile_param","global","max_sip_extension") or '32')
	if sip_user then
		for i=1,MAX_SIP_EXTENSION do
			 for k,v in pairs(sip_user) do
				local str = ""
				if v.index and tonumber(v.index) == i then
					if i%2 == 1 then
						str = str.."<tr class=cbi-rowstyle-odd>"
					else
						str = str.."<tr class=cbi-rowstyle-even>"
					end
					str = str.."<td>"..v.index.."</td>"
					str = str.."<td>"..v.name.."</td>"
					str = str.."<td>"..v.user.."</td>"
					str = str.."<td id=user.from."..v.user.."></td>"
					str = str.."<td id=user.status."..v.user..">"..translate("Unregistred").."</td>"
					str = str.."<td id=user.exp."..v.user.."></td>"
					str = str.."<td id=user.agent."..v.user.."></td>"
					local sip_profile = uci:get_all("profile_sip")
					local flag = false
					for x,y in pairs(sip_profile) do
						if y.index == v.profile then
							str = str.."<td>"..v.profile.."-&lt;"..y.name.."&gt;</td></tr>"
							flag = true
						end
					end
					if false == flag then
						str = str.."<td>"..translate("Not Config").."</td>"
					end
					write(str)
				end
			 end
		end
	end
%>
		</tbody>
	</table>
</fieldset>
<%+footer%>
