<%+header%>
<script type="text/javascript" src="<%=resource_cbi_js%>"></script>
<script language="JavaScript" type="text/JavaScript">
	var working=false
	var xhr = new XHR();
	var progress_cnt = 1
	var stop = false
	<% if luci.version.license and (luci.version.license.fxs and luci.version.license.fxo) and (luci.version.license.gsm or luci.version.license.lte or luci.version.license.volte) then %>
		var mod = ['fxso','gsm'];
	<% elseif luci.version.license and (luci.version.license.fxs and luci.version.license.fxo) then %>
		var mod = ['fxso'];
	<% elseif luci.version.license and (luci.version.license.gsm or luci.version.license.lte or luci.version.license.volte) then %>
		var mod = ['gsm'];
	<% else %>
		var mod = ['fxso','gsm'];
	<% end %>
	window.onbeforeunload = function(){if(working){return "<%:Module Diagnostics is working, please stop before leaving !%>"}}
	window.onload = function()
	{
	<% if "test_working" == test_status or "stop" == test_status then %>
		var o = "<%=test_options%>"
		for(i=0;i<mod.length;i++)
		{
			if(o.indexOf(mod[i]) >= 0)
				document.getElementById("test."+mod[i]).checked="checked"
		}
		change_form('<%=test_status%>')
		option_changes()
	<% end %>
	}
	function set_all_status(status)
	{
		var tmr = window.setInterval(function() {
			for(i = 0;i < mod.length;i++)
				document.getElementById("test."+mod[i]).disabled=status
			clearInterval(tmr)
		},500)
	}
	function change_form(status)
	{
		if ("test_working" == status)
		{
			document.getElementById('test_start').style.display="none"
			document.getElementById('test_end').style.display=""
			document.getElementById('test_info').style.display=""
			set_all_status("disabled")
		}
		else if ("stop" == status)
		{
			document.getElementById('test_start').style.display=""
			document.getElementById('test_end').style.display="none"
			document.getElementById('test_info').style.display="none"
			set_all_status("")
		}
		return true
	}
	function option_changes()
	{
		var cnt = 0
		for(i=0;i<mod.length;i++)
		{
			if(document.getElementById("test."+mod[i]).checked)
			{
				document.getElementById(mod[i]+".tips").style.display=""
				cnt++
			}
			else
				document.getElementById(mod[i]+".tips").style.display="none"
		}
		if(cnt > 0)
			document.getElementById("test_start").disabled=""
		else
			document.getElementById("test_start").disabled="disabled"
	}
	function refresh_progress()
	{
		document.getElementById("detect_progress").style.display=""
		document.getElementById("curr_progress").style.width=(progress_cnt*100/81)+"%"
		document.getElementById("curr_progress").innerHTML=Math.round((progress_cnt*10000/81))/100+"%"
		if(progress_cnt<81)
		{
			progress_cnt = progress_cnt+1
			if(working)
			{
				window.setTimeout(refresh_progress, 500);
				if(81 == progress_cnt)
					progress_cnt=80
			}
			else
				window.setTimeout(refresh_progress, 20);
		}
		else
		{
			if(document.getElementById('test_info').innerText.indexOf("<%:FAULT%>") >=0
				|| document.getElementById('test_info').innerText.indexOf("<%:UNKNOWN%>") >=0
				|| document.getElementById('test_info').innerText.indexOf("<%:ERROR%>") >=0
				|| document.getElementById('test_info').innerText.indexOf("<%:Detecting...%>") >=0)
				document.getElementById("curr_progress").parentNode.className = "progress progress-fail"
			else
				document.getElementById("curr_progress").parentNode.className = "progress progress-success"
		}
	}
	function refresh()
	{
		var checkfinish = function(){
			xhr.get('<%=luci.dispatcher.build_url("admin","system","diagnostics")%>',{status:1},
				function(x) {
					var r = document.getElementById('test_info')
					if (x.responseText && x.responseText.match(/^<!DOCTYPE html>/))
						document.location = document.location.protocol+"//"+document.location.host
					else if(x.responseText.indexOf("<%:Diagnostics Finish !%>")>= 0)
					{
						document.getElementById('test_start').style.display=""
						document.getElementById('test_end').style.display="none"
						set_all_status("")
						working=false
					}
					else
						window.setTimeout(checkfinish, 3000);
					r.innerHTML=String.format('<pre>%h</pre>',x.responseText);
				})
				
			}
		checkfinish()
	}
	function test_start()
	{
		var v = ""
		for(i=0;i<mod.length;i++)
		{
			if(document.getElementById("test."+mod[i]).checked)
				v = v+mod[i]
		}
		change_form('test_working')
		var output = document.getElementById("test_info")
		output.innerHTML='<span><%:Module Diagnostics is working...%></span><img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle"/>'
		output.style.display=""
		progress_cnt = 1
		document.getElementById("detect_progress").style.display="none"
		document.getElementById("curr_progress").parentNode.className = "progress progress-striped active"
		working=true
		xhr.get('<%=luci.dispatcher.build_url("admin","system","diagnostics")%>',{action:"start",mod:v},function(x){
			if (x.responseText && x.responseText.match(/^<!DOCTYPE html>/))
				document.location = document.location.protocol+"//"+document.location.host
			else if (x.responseText == "start succ")
			{
				output.innerHTML = String.format('<pre><%:Start Succ !%></pre>');
				window.setTimeout(refresh,3000);
				window.setTimeout(refresh_progress,3000);
			}
			else
			{
				output.innerHTML = String.format('<pre>%h</pre>',x.responseText);
				document.getElementById('test_start').style.display=""
				document.getElementById('test_end').style.display="none"
				set_all_status("")
				working=false
			}
		});
	}
	function test_stop()
	{
		document.getElementById('test_start').style.display=""
		document.getElementById('test_end').style.display="none"
		set_all_status("")
		xhr.get('<%=luci.dispatcher.build_url("admin","system","diagnostics")%>',{action:"stop"},function(x){
		if (x.responseText && x.responseText.match(/^<!DOCTYPE html>/))
			document.location = document.location.protocol+"//"+document.location.host
		else
		{
			stop = true
			working = false
		}});
	}
</script>
<h2><a id="content" name="content"><%:System / Diagnostics%></a></h2>
<fieldset class="cbi-section"><form>
	<legend><%:Module Diagnostics%></legend>
	<div id="call_trace_option" class="cbi-value">
		<div class="cbi-value"><div class="cbi-value-title"><label><%:Select the module you want to diagnostics%></label></div>
		<div class="cbi-value-field">
			<% if luci.version.license and (luci.version.license.fxs and luci.version.license.fxo) then %>
			<input class="cbi-input-checkbox" type="checkbox" onclick="option_changes()" id="test.fxso" name="test.fxso"/>
			<label for="test.fxso">FXS/FXO</label>
			<% end %>
			<% if luci.version.license and (luci.version.license.gsm or luci.version.license.lte or luci.version.license.volte) then %>
			<input class="cbi-input-checkbox" type="checkbox" onclick="option_changes()" id="test.gsm"  name="test.gsm"/>
			<label for="test.gsm">GSM/LTE/VoLTE</label>
			<% end %>
		</div></div>
		<div class="cbi-value" id="fxso.tips" style="display:none;"><div class="cbi-value-title"><label>FXS/FXO</label></div>
		<% if fxo_online then%>
			<div class="cbi-value-field"><pre style="padding:4px;background-color:#beefc2"><%:FXO online detected ! Make sure that the FXO is connected to the local FXS port !%></pre></div>
		<% else %>
			<div class="cbi-value-field" style="color:red"><pre style="padding:4px;background-color:#f4c1c0"><%:Please connect FXS and FXO with telephone line !%></pre></div></div>
		<% end %>
		<div class="cbi-value" id="gsm.tips" style="display:none;"><div class="cbi-value-title"><label>GSM/LTE/VoLTE</label></div>
		<% if sim_ready then%>
			<div class="cbi-value-field"><pre style="padding:4px;background-color:#beefc2"><%:The SIM card has been detected !%></pre></div>	
		<% else %>
			<div class="cbi-value-field" style="color:red"><pre style="padding:4px;background-color:#f4c1c0"><%:Please insert SIM card !%></pre></div>
		<% end %>
		</div>
		<div class="cbi-value" id="wifi.tips" style="display:none;"><div class="cbi-value-title"><label>WIFI</label></div>
	</div>
</form></fieldset>
<fieldset class='cbi-section' id="detect_progress" style="display:none">
<table id='board_upgrade'>
	<tr><td width='5%'></td>
	<td width='90%'><div class='progress progress-striped active'><div class='progress-bar' id='curr_progress' style='width:1%;'></div></div></td>
	<td width='5%'></td></tr>
</table>
</fieldset>
<fieldset class="cbi-section" id="test_info" style="display:none">
</fieldset>
<div class="cbi-page-actions">
	<input class="cbi-button cbi-button-apply" type="button" value="<%:Start%>" id="test_start" name="test_start" onclick="return test_start();"/>
	<input class="cbi-button cbi-button-apply" type="button" value="<%:Stop%>" id="test_end" name="test_end" onclick="return test_stop();"/>
</div>
<%+footer%>
