<%+header%>
<style type="text/css">
table td.nopadding{
    padding:0px 0px 0px 10px;
}
table td.paddingtight{
    padding:0px 0px 0px 0px;
}
table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
table {
	table-layout:fixed;
}
</style>
<form name="form" method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data" >
<div>
	<fieldset class="cbi-section">
		<% if title then %>
		<legend><%=title%></legend>
		<% end %>
		<% if description and #description > 0 then -%>
			<div class="cbi-section-descr"><%=description%></div>
		<% end %>	
			<!--wds mode-->
			<div class="cbi-section-node">
				<div class="cbi-value cbi-value-last"><div class="cbi-value-title">
					<label style="margin-left:0px;"><%:WDS Service%></label>
				</div>
				<div class="cbi-value-field">
					<select class="cbi-input-select" id="wdsmode" name="wdsmode" >
						<option value="lazy" <%=("lazy" == wds_mode) and "selected" or ""%>><%:Lazy%></option>
						<option value="bridge" <%=("bridge" == wds_mode) and "selected" or ""%>><%:Bridge%></option>
						<option value="repeater" <%=("repeater" == wds_mode) and "selected" or ""%>><%:Repeater%></option>
						<option value="disable" <%=("disable" == wds_mode) and "selected" or ""%>><%:Disable%></option>
					</select>
				</div>
			</div>
			<!--service ssid-->
			<div class="cbi-section-node">
				<div class="cbi-value cbi-value-last"><div class="cbi-value-title">
					<label style="margin-left:0px;"><%:SSID%></label>
				</div>
				<div class="cbi-value-field">
					<label ><%=server_ssid%></label>
				</div>
			</div>
			<!--service network-->
			<div class="cbi-section-node">
				<div class="cbi-value cbi-value-last"><div class="cbi-value-title">
					<label style="margin-left:0px;"><%:Interface%></label>
				</div>
				<div class="cbi-value-field">
					<label ><%=server_network%></label>
				</div>
			</div>

			<!--action button-->
			<div class="cbi-section-node">
				<div class="cbi-value cbi-value-last"><div class="cbi-value-title">
					<label style="margin-left:0px;"><%: %></label>
				</div>
				<div class="cbi-page-actions">
					<input class="cbi-button cbi-button-save" type="submit" style="width:100px;" name="save" id="save" value="<%:Save%>" />
				</div>	
			</div>
	</fieldset>
	
	<fieldset>
		<table class="cbi-section-table">
		<% 
		if colgroup then
			for k,v in ipairs(colgroup) do 
		%>
			<col style="width:<%=v%>">
		<%	
			end
		end
		%>
			<tbody>
			<% if th then %>
				<tr>
				<% for k,v in ipairs(th) do %>
					<th><%=translate(v)%></th>
				<% end %>
				<% if edit or delchk then %>
					<th></th>
				<% end %>
				</tr>
			<% end %>
			<%
			if #content > 0 then
				for k,v in ipairs(content) do
					if 1 == k%2 then
			%>
						<tr class='cbi-rowstyle-odd'>
				<%	else %>
						<tr class='cbi-rowstyle-even'>
				<%
					end 
					for i,j in ipairs(v) do
						if "table" == type(j) then
				%>
						<td><table>
						<%
							local td_cnt = 0
							local col = split_col
							if #j < split_col then
								col = #j
							end
							for x,y in ipairs(j) do
								
								if 0 == (td_cnt % col) then
						%>
									<tr>
							<%  end %>

								<td class="<%=classname or "nopadding"%>"><%=y%></td>
							<% 	
								td_cnt = td_cnt + 1
								if 0 == (td_cnt % col) then 
							%>
									</tr>
						<% 
								end
							end
							if 0 ~= (td_cnt % col) then
						%>
								<td colspan="<%=col-(td_cnt%col)%>>"></td>
						<%
							end
						%>
						</td></table>
					<% else %>
						<td><%=j%></td>
				<%		
						end
					end
					if edit then
				%>
					<td>
					<!--edit-->
					<a href="<%=edit[k]%>" title="<%=translate("Edit")%>"><img style='border:none' src='/luci-static/resources/cbi/edit.png'></a>
					<!--enable/disable-->
					<% if uci_cfg[k] and status and "Disabled" == status[k] then%>
						<input type="image" value="Enabled" name="Status.Enabled.<%=uci_cfg[k]%>" alt="Enabled" title="<%=translate("The current is disabled, click enable")%>" src="/luci-static/resources/cbi/apply.png" />
					<% elseif uci_cfg[k] and status and "Enabled" == status[k] then %>
						<input type="image" value="Disabled" name="Status.Disabled.<%=uci_cfg[k]%>" alt="Disabled" title="<%=translate("The current is enabled, click disable")%>" src="/luci-static/resources/cbi/stop.png" />
					<% end %>

					<% if delchk then %>
						<!--remove-->
						<input type="image" value="Delete" onclick="<%=delchk[k]%>" name="Delete.<%=uci_cfg[k]%>" alt="Delete" title="<%=translate("Delete")%>" src="/luci-static/resources/cbi/remove.png" />
					<% end %>
					
					</td>
					
				<%  
					end 
				end
				%>
					</tr>
			<% 
			else
				if edit and delchk then 
			%>
					<tr><td colspan="<%=#th+1%>"><%=translate("This section contains no values yet")%></td></tr>
			<% 	else %>
					<tr><td colspan="<%=#th%>"><%=translate("This section contains no values yet")%></td></tr>
			<% 	
				end 
			end
			%>
			</tbody>
		</table>
		<% if addnewable then %>
			<div>
				<input class="cbi-button cbi-button-add" type="submit" value="<%:New%>" name="New" title="New">
			</div>
		<% end %>
	</fieldset>
</div>
</form>
<%+footer%>
